.apartments
    margin-top: 180px
    padding-top: 85px
    padding-bottom: 200px
    margin-bottom: -200px
    background: url('../img/apartments__bg.jpg') no-repeat center top, #fbfbfb
    h1
        display: block
        color: $white
        text-align: center
    &__list
        list-style: none
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: column
        flex-wrap: wrap
        margin: 77px auto 175px
        padding: 0
        max-height: 180px + 30px
        li
            display: flex
            align-items: center
            margin-bottom: 15px
            flex: 0 0 90px
            width: 19%
            background-color: $white
            border-radius: 10px
            padding: 15px
            img
                display: block
                width: 40px
                height: 40px
                object-fit: contain
                flex: 0 0 40px
                margin-right: 15px
            p
                margin: 0
                line-height: 1.1
    &__divider
        width: 100vw
        height: 59px
        background: url("../img/apartments__divider.png") no-repeat center top
        margin-bottom: 60px
.apartment
    padding-bottom: 90px
    h2
        text-align: center
        margin-bottom: 80px
    h3
        font: 35px "SFUI", sans-serif
        font-weight: 700
        text-align: center
        margin: 50px auto
    .list
        display: flex
        flex-direction: column
        flex-wrap: wrap
        justify-content: space-between
        margin: 0
        padding: 0
        li
            p
                margin: 0
                letter-spacing: -1px
        &-rows
            display: flex
            justify-content: space-between
            ul
                flex: 0 0 278px
                &:nth-child(2)
                    flex: 0 0 400px
                &:last-child
                    flex: 0 0 360px
    &__heading
        display: block
        font: 38px "Philosopher", serif
        margin-bottom: 30px
    &__text
        letter-spacing: -1px
        margin-bottom: 35px
    &__table
        display: flex
        flex-direction: column
        &-row
            display: flex
            justify-content: space-between
            .apartment__table
                &-block
                    &:nth-child(5)
                        background-color: #333333
                        color: $white
                &-header
                    &:last-child
                        margin-bottom: -50px
                        position: relative
                        z-index: 1
            &:nth-child(2)
                .apartment__table
                    &-block
                        &:last-child
                            margin-top: 50px
                            min-height: 60px
            &:last-child
                .apartment__table
                    &-block
                        border-bottom: none
                        border-radius: 0 0 15px 15px
        &-header, &-heading, &-block
            flex: 0 0 16.4%
        &-heading
            text-align: right
            font-size: 16px
            letter-spacing: -1px
            padding: 0 20px
            display: flex
            align-items: center
        &-header
            color: $white
            background-color: #333333
            display: flex
            justify-content: center
            align-items: center
            padding: 10px
            border-radius: 15px 15px 0 0
            text-align: center
            font-size: 16px
            letter-spacing: -1px
            border-bottom: 1px solid #d2d2d2
            p
                margin: 0
        &-block
            background-color: #f2f2f2
            min-height: 100px
            border-bottom: 1px solid #d2d2d2
            display: flex
            align-items: center
            justify-content: center
            p
                font-size: 33px
                margin: 0
    &__slider
        padding: 30px 0
        height: 360px + 60px
        overflow-x: hidden
        .swiper-slide
            a
                display: block
                height: 100%
                border-radius: 20px
                box-shadow: none
                transition: all 0.3s ease
                filter: saturate(0.5) contrast(0.5)
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: 50%
                    border-radius: 20px
        .swiper-slide-active
            a
                filter: none
                box-shadow: 0px 8px 36px rgba(0,0,0,0.17)
            .swiper-button-prev, .swiper-button-next
                display: flex
    .swiper-button-prev, .swiper-button-next
        background: $white
        display: none
        justify-content: center
        align-items: center
        width: 45px
        height: 45px
        border: 2px solid $white
        border-radius: 50%
        transition: all 0.3s ease
        img
            display: block
            width: 24px
            height: 24px
            margin-left: -4px
            transition: all 0.3s ease
            filter: invert(0.6)
        &:hover
            background: none
            img
                filter: none
        &:focus
            outline: 0
    .swiper-button-prev
        left: -22px
        top: 50%
        transform: none
    .swiper-button-next
        right: -22px
        top: 50%
        transform: none
        img
            margin-left: 0
            transform: scaleX(-1)
    &__note
        display: flex
        align-items: center
        max-width: 530px
        margin: 0 auto 30px
        img
            display: block
            width: 36px
            height: 36px
            flex: 0 0 36px
            margin-right: 15px
        p
            margin: 0
            color: #a0a0a0
            font-size: 16px
            letter-spacing: -1px