.contacts
    margin-top: 180px
    padding: 85px 0 200px
    background-color: #e4e2e4
    h1
        font-size: 51px
        text-align: center
        text-transform: uppercase
    .block
        &__heading
            font-size: 36px
            margin: 48px 0 48px
    .list
        list-style: none
        margin: 0
        padding: 0
        li
            display: flex
            align-items: center
            b
                font: 26px "Philosopher", sans-serif
                flex: 0 0 108px
                margin-right: 20px
            p
                margin: 0
            a
                color: $black
    &__subheading
        text-align: center
        margin-bottom: 90px
    &__text
        line-height: 1.3
        margin-bottom: 0
        b
            font-size: 20px
        &_last
            margin: 50px 0
    &__link
        font: 20px "Philosopher", sans-serif
        font-weight: 700
        text-decoration: underline
        font-style: italic
        color: $black
    &__map
        width: 100%
        height: 450px
        margin-top: 48px
.licenses
    background-color: #e4e2e4
    padding-bottom: 50px
    .block
        &__heading
            text-align: center
            font-size: 51px
            margin-bottom: 50px
    &__link
        display: flex
        position: relative
        width: 100%
        height: 515px
        align-items: center
        justify-content: center
        margin-bottom: 30px
        border-radius: 10px
        img
            display: block
            width: 100%
            height: 100%
            object-fit: cover
            object-position: 50%
            border-radius: 10px
        &:after
            content: ''
            background: url("../img/icons/eye.png") no-repeat center center / 90px, rgba(0,0,0,0.6)
            border-radius: 10px
            display: block
            width: 100%
            height: 100%
            position: absolute
            top: 0
            left: 0
            transition: all 0.3s ease
            opacity: 0
        &:hover
            &:after
                opacity: 1