.reviews
    background-color: #f5f3f5
    margin-top: 180px
    padding: 50px 0 160px
    h1
        display: block
        text-align: center
    &__subheading
        text-align: center
        margin: 30px auto 80px
    &__block
        background-color: $white
        border-radius: 15px
        padding: 20px
        margin-bottom: 22px
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        align-items: flex-start
        .avatar
            flex: 0 0 255px
            border-radius: 15px
            position: relative
            margin-right: 20px
            img
                display: block
                width: 100%
                height: 100%
                object-fit: cover
                object-position: 50%
            .author
                border-radius: 10px 10px 0 0
                background-color: $white
                padding: 10px 15px 0px
                position: absolute
                bottom: 0
                left: 50%
                transform: translateX(-50%)
                b
                    display: block
                    font: 24px "Philosopher", serif
                    text-align: center
                    color: $gold
                    margin-bottom: 4px
                p
                    margin: 0
                    font-size: 11px
                    text-align: center
        .info
            flex: 0 0 calc(100% - 275px)
            .list
                list-style: none
                margin: 10px 0 20px
                padding: 0
                li
                    display: flex
                    align-items: flex-end
                    margin-bottom: 5px
                    position: relative
                    z-index: 1
                    div
                        flex: 0 0 180px
                    p
                        margin: 0
                        font-size: 16px
                        letter-spacing: -1px
                        color: $gray-500
                        background-color: $white
                        display: inline-block
                        padding-right: 2px
                    b
                        display: block
                        font: 20px "Philosopher", serif
                        flex: 1 1 auto
                        background-color: $white
                    &:after
                        content: ""
                        background: url('data:image/svg+xml;utf8,<svg width="4" height="2" viewBox="0 0 4 2" xmlns="http://www.w3.org/2000/svg"><rect x="0" y="0" width="2" height="2" fill="%23adb5bd"/></svg>')
                        width: 100%
                        height: 2px
                        display: block
                        position: absolute
                        bottom: 4px
                        left: 0
                        z-index: -1
            .situation
                b
                    display: block
                    font: 24px "Philosopher", serif
                    color: $gold
                    margin-bottom: 20px
                p
                    font-size: 14px
                    margin: 0
        .quote
            flex: 0 0 100%
            margin-top: 30px
            blockquote
                display: flex
                align-items: center
                font-size: 14px
                p
                    margin: 0
                &:before
                    content: '❝'
                    color: $gold
                    line-height: 1
                    height: 80px
                    font-weight: 700
                    font: 180px "Philosopher", serif
                    transform: scaleX(0.9) translateY(-55px)
                    margin-right: 25px
                    pointer-events: none
    &__block-small
        background-color: $white
        border-radius: 15px
        padding: 40px 45px
        .info
            b
                display: block
                font: 28px "Philosopher", serif
                margin-bottom: 5px
            p
                color: $gold
                margin-bottom: 20px
        blockquote
            display: flex
            align-items: center
            font-size: 14px
            p
                margin: 0
            &:before
                content: '❝'
                color: $gold
                line-height: 1
                height: 80px
                font-weight: 700
                font: 180px "Philosopher", serif
                transform: scaleX(0.9) translateY(-55px)
                margin-right: 25px
                pointer-events: none
.video-reviews
    background-color: #f5f3f5
    padding-bottom: 40px
    .block
        &__heading
            text-align: center
            margin-bottom: 68px
    &__block
        margin-bottom: 40px
        .embed-responsive
            border-radius: 15px
            iframe
                border-radius: 15px
        .info
            margin-top: 15px
            display: flex
            justify-content: space-between
            align-items: center
            b
                font: 23px "Philosopher", serif
            p
                margin: 0
                color: $gray-500
                letter-spacing: -1px