.services
    margin-top: 180px
    padding: 70px 0 90px
    background-color: #f4f2f4
    h1
        text-align: center
        margin-bottom: 40px
    &__desc
        text-align: center
        margin: 0 auto 70px
        letter-spacing: -1px
    &__block
        background-color: $white
        display: flex
        border-radius: 15px
        margin-bottom: 10px
        img
            display: block
            width: 240px
            flex: 0 0 240px
            object-fit: cover
            object-position: 50%
            border-radius: 15px 0 0 15px
            margin-right: 20px
        div
            padding: 16px 16px 16px 0
            display: flex
            flex-direction: column
            b
                display: block
                color: $gold
                font: 26px "Philosopher", serif
                margin-bottom: 25px
            >p
                font-size: 14px
                letter-spacing: -1px
                margin: 0 0 30px
            .button
                margin-top: auto
                flex: 0 0 46px
                height: 46px
                p
                    font: 19px "Philosopher", serif
.tours
    background-color: #f4f2f4
    padding-bottom: 90px
    .block
        &__heading
            text-align: center
            margin-bottom: 40px
    &__subheading
        text-align: center
        letter-spacing: -1px
        margin-bottom: 30px
    &__desc
        text-align: center
        font-weight: 700
        font-size: 22px
        margin-bottom: 75px
    &__block
        display: flex
        flex-direction: column
        justify-content: flex-end
        height: 300px
        border-radius: 15px
        padding: 18px 10px
        position: relative
        z-index: 1
        margin: 0 -10px 15px
        img
            display: block
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            border-radius: 15px
            object-fit: cover
            object-position: 50%
            z-index: -1
        b
            display: block
            color: $gold
            text-align: center
            font: 30px "Philosopher", serif
            margin-bottom: 17px
        a
            text-transform: uppercase
            display: flex
            align-items: center
            justify-content: center
            margin: 0 auto
            width: 115px
            background-color: rgba(255,255,255,0.6)
            border-radius: 5px
            padding: 8px
            color: $black
            font-weight: 700
            letter-spacing: -1px
            font-size: 13px
            transition: all 0.3s ease
            &:hover
                background-color: rgba(255,255,255,1)
                text-decoration: none
.spirit
    background-color: #f4f2f4
    padding-bottom: 90px
    .block
        &__heading
            text-align: center
            margin-bottom: 35px
    .button
        height: 45px
        margin-bottom: 15px
        p
            font-size: 16px
    &__desc
        text-align: center
        letter-spacing: -1px
        margin-bottom: 90px
    &__block
        background-color: $white
        margin-bottom: 15px
        border-radius: 15px
        min-height: 429px
        .top
            display: flex
            justify-content: flex-end
            position: relative
            border-radius: 15px
            height: 178px
            z-index: 1
            padding: 20px
            img
                display: block
                width: 100%
                height: auto
                object-fit: cover
                object-position: 50%
                border-radius: 15px
                position: absolute
                left: 0
                top: 0
                z-index: -1
            div
                b
                    display: block
                    font: 40px "Philosopher", serif
                    font-style: italic
                    line-height: 0.8
                    margin-bottom: 10px
                p
                    font: 17px "Philosopher", serif
                    font-style: italic
        .bottom
            padding: 35px 15px
            font-size: 16px
            letter-spacing: -1px
            ul
                margin: 0
                padding: 0 0 0 15px
.loyalty
    padding-bottom: 90px
    background-color: #f4f2f4
    .block
        &__heading
            font-size: 49px
            text-align: center
            margin-bottom: 67px
    &__table
        border-collapse: separate
        border-spacing: 5px 2px
        thead
            tr
                td
                    width: 25%
                th
                    width: 18.75%
                    padding: 25px 0
                    background-color: #333333
                    color: $white
                    text-align: center
                    vertical-align: middle
                    font: 29px "Philosopher", serif
                    border-radius: 10px 10px 0 0
        tbody
            tr
                th
                    .counter
                        display: flex
                        .circle
                            position: relative
                            width: 30px
                            height: 30px
                            flex: 0 0 30px
                            border-radius: 50%
                            overflow: hidden
                            background-color: $gold
                            margin-right: 15px
                            b
                                color: $white
                                font: 41px "Philosopher", serif
                                font-style: italic
                        p
                            align-self: center
                            font-size: 14px
                            letter-spacing: -1px
                            margin: 0
                td
                    background-color: $white
                    text-align: center
                    font-size: 22px
                    vertical-align: middle
                    img
                        display: block
                        margin: 0 auto
                        width: 28px
                        height: 21px
                &:last-child
                    td
                        border-radius: 0 0 15px 15px
.partnership
    padding-bottom: 46px
    background-color: #f5f3f5
    .block
        &__heading
            text-align: center
            margin-bottom: 35px
    .button
        height: 45px
        max-width: 350px
        margin: 15px auto 0
        p
            font: 18px "Philosopher", serif
    &__desc
        text-align: center
        margin-bottom: 80px
        letter-spacing: -1px
    &__heading
        display: flex
        align-items: center
        justify-content: center
        margin-bottom: 30px
        img
            display: block
            width: 74px
            height: 69px
            flex: 0 0 74px
            margin-right: 30px
        b
            font: 30px "Philosopher", serif
    &__link
        display: flex
        justify-content: center
        align-items: center
        text-decoration: underline
        letter-spacing: -1px
        color: $black
        transition: all 0.3s ease
        &:hover
            color: $gold
    &__button
        display: flex
        justify-content: center
        align-items: center
        font: 18px "Philosopher", serif
        color: $black
        padding: 12px 20px
        border: 1px solid $gray-500
        border-radius: 10px
        max-width: 440px
        margin: 0 auto
        transition: all 0.3s ease
        img
            display: block
            width: 18px
            height: 22px
            margin-right: 20px
        &:hover
            color: $black
            text-decoration: none
    &__block
        background-color: $white
        border-radius: 15px
        margin-bottom: 35px
        padding: 38px 30px
        b
            display: block
            font-size: 25px
            margin: 15px 0 30px
        p
            letter-spacing: -1px
            font-size: 14px
        .list
            list-style: none
            margin: 0
            padding: 0
            display: flex
            justify-content: space-between
            flex-wrap: wrap
            li
                flex: 0 0 48%
                display: flex
                align-items: center
                margin-bottom: 15px
                img
                    display: block
                    width: 48px
                    height:  48px
                    object-fit: contain
                    margin-right: 10px
                p
                    margin: 0
                &:last-child
                    flex: 0 0 100%