.spine-heal
    margin-top: 180px
    padding: 50px 0 80px
    background: url("../img/spine/spine__bg.png") no-repeat center top 140px, #f7f5f7
    h1
        font-size: 51px
        text-align: center
        max-width: 660px
        margin: 0 auto 48px
    &__desc
        text-align: center
        letter-spacing: -1px
        line-height: 1.3
        margin-bottom: 55px
    &__container
        display: flex
        flex-direction: column
        height: calc(100% - 35px)
        margin: 0 -10px 35px
        .button
            flex: 0 0 46px
            height: 46px
            p
                font: 20px "Philosopher", serif
    &__block
        background-color: $white
        border-radius: 10px
        margin-bottom: 12px
        flex: 1 1 100%
        display: flex
        flex-direction: column
        .top
            position: relative
            z-index: 1
            height: 70px
            display: flex
            align-items: center
            justify-content: center
            flex: 0 0 70px
            img
                display: block
                width: 100%
                height: 100%
                border-radius: 10px 10px 0 0
                object-fit: cover
                object-position: 50%
                position: absolute
                top: 0
                left: 0
                z-index: -1
            b
                display: block
                text-align: center
                color: $white
                font: 17px "Philosopher", serif
        .bottom
            padding: 23px 18px
            b
                display: block
                text-transform: uppercase
                text-align: center
                font-size: 16px
                font-weight: 900
                letter-spacing: -1px
                margin-bottom: 30px
            .list
                list-style: none
                margin: 0
                padding: 0
                li
                    display: flex
                    flex-direction: column
                    align-items: center
                    margin-bottom: 3px
                    p
                        text-align: center
                        font-size: 14px
                        letter-spacing: -1px
                        margin: 0
                    &:after
                        content: ''
                        width: 4px
                        height: 4px
                        flex: 0 0 4px
                        border-radius: 50%
                        background-color: $black
                        margin-top: 10px
                    &:last-child
                        &:after
                            display: none
    &__price
        flex: 0 0 99px
        .list
            list-style: none
            margin: 0 0 5px
            padding: 0
            li
                display: flex
                min-height: 46px
                align-items: center
                background-color: #333333
                border-radius: 10px
                margin-bottom: 2px
                color: $white
                div
                    display: flex
                    justify-content: center
                    align-items: center
                    flex: 0 0 60px
                    border-right: 1px solid $white
                    img
                        display: block
                        width: 30px
                        height: 30px
                        object-fit: contain
                p
                    margin: 0 auto
                    font-size: 16px
.spine-longlive
    padding-bottom: 110px
    background: url("../img/spine/spine-longlive__bg.png") no-repeat center top 120px, linear-gradient(to bottom, #f7f5f7, #f3f1f3)
    .block
        &__heading
            text-align: center
            margin: 0 auto 40px
    .spine-heal__block
        .top
            b
                font-size: 24px
    &__desc
        text-align: center
        letter-spacing: -1px
        line-height: 1.3
        margin-bottom: 55px
.spine-heal-more
    background: url("../img/spine/spine-heal__bg.png") no-repeat center top 60px, #f3f1f3
    .block
        &__heading
            max-width: 800px
            text-align: center
            margin: 0 auto 35px
    &__desc
        text-align: center
        letter-spacing: -1px
        line-height: 1.3
        margin-bottom: 100px
.spine-note
    background-color: #ffffff
    padding-bottom: 20px
    .block
        &__heading
            font: 36px "SFUI", sans-serif
            font-weight: 700
            text-align: right
            margin: 150px auto 50px
    img
        display: block
        width: 900px
        height: 698px
        margin-left: -350px
    p
        text-align: right
        margin: 0
        letter-spacing: -1px
        line-height: 1.3
.chinese-medicine
    padding-top: 140px
    background: url("../img/chinese__bg.png") no-repeat center top, linear-gradient(to bottom, #f3f1f3, $white)
    .block
        &__heading
            font-size: 51px
            margin-bottom: 35px
    .list
        list-style: none
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        margin: 0 0 50px 0
        padding: 0
        li
            flex: 0 0 49%
            background-color: $white
            border-radius: 15px
            margin-bottom: 6px
            padding: 12px
            .counter
                width: 40px
                height: 40px
                border-radius: 50%
                margin: 0 auto 15px
                background: linear-gradient(to right, rgba(32,131,187,1), rgba(86,212,146,1))
                display: flex
                justify-content: center
                align-items: flex-start
                overflow: hidden
                b
                    color: $white
                    font: 52px "Philosopher", serif
                    font-style: italic
            p
                font-size: 16px
                text-align: center
                letter-spacing: -1.3px
        &-pre
            display: block
            font: 41px "Philosopher", serif
            color: $white
            font-weight: 700
            text-align: center
            margin-bottom: 20px
    &__desc
        letter-spacing: -1px
        margin-bottom: 37px
    &__block
        background-color: $white
        border-radius: 15px
        display: flex
        .left
            flex: 1 1 100%
            .list
                flex-direction: column
                margin: 0
                max-height: 193px
                li
                    background: none
                    border-radius: 0
                    margin: 0
                    border-right: 1px solid $gray-300
                    border-bottom: 1px solid $gray-300
                    display: flex
                    align-items: center
                    padding: 23px 36px
                    img
                        display: block
                        width: 42px
                        height: 42px
                        flex: 0 0 42px
                        object-fit: contain
                        margin-right: 20px
                    div
                        b
                            text-transform: uppercase
                            display: block
                            font-weight: 900
                            letter-spacing: -1px
                            margin-bottom: 5px
                        p
                            margin: 0
                            font-size: 14px
                            text-align: left
                            letter-spacing: -1px
                    &:nth-child(2n)
                        border-bottom: none
        .right
            flex: 0 0 345px
            padding: 16px 22px
            .list
                display: block
                list-style: none
                margin: 0 0 5px
                padding: 0
                li
                    display: flex
                    min-height: 46px
                    align-items: center
                    background-color: #333333
                    border-radius: 10px
                    margin-bottom: 2px
                    color: $white
                    div
                        display: flex
                        justify-content: center
                        align-items: center
                        flex: 0 0 60px
                        border-right: 1px solid $white
                        img
                            display: block
                            width: 30px
                            height: 30px
                            object-fit: contain
                    p
                        margin: 0 auto
                        letter-spacing: 0
            .button
                flex: 0 0 46px
                height: 46px
                p
                    font: 20px "Philosopher", serif