.arrival
    position: relative
    padding-bottom: 66px
    .block
        &__heading
            color: $black
            margin-right: -30px
        &__desc
            font-size: 34px
            max-width: 420px
            padding: 16px 35px
            margin: 20px 0 40px -35px
            box-shadow: 0 12px 18px rgba(0,0,0,0.17)
    &__decor
        background: rgba(71,92,88,1)
        position: absolute
        top: 250px
        left: 0
        width: 100%
        height: 100%
        mix-blend-mode: multiply
        &_right
            position: absolute
            bottom: 280px
            right: 50%
            transform: translateX(1280px)
            background-repeat: no-repeat
            background-position: center center
            width: 716px
            height: 346px
            pointer-events: none
            z-index: 2
            filter: blur(5px)
    &__image
        background-color: #465854
        border-radius: 20px
        width: 766px
        height: 571px
        margin-left: -295px
        margin-top: 330px + 80px
        position: relative
        z-index: 1
        box-shadow: 0px 8px 22px rgba(0,0,0,0.16)
        img
            display: block
            width: 766px
            height: 571px
            border-radius: 20px
            mask-image: linear-gradient(to left, rgba(0,0,0,1) 55%, rgba(0,0,0,0) 95%)
    &__text
        color: $white
        line-height: 1.5
        margin-bottom: 33px
        span
            color: $orange
            font-weight: 700
    &__note
        background-color: $blue
        color: $white
        max-width: 500px
        padding: 15px 40px
        line-height: 1.5
        font-size: 21px
        font-weight: 700
        margin: 0 0 33px -40px