.brain
    position: relative
    overflow: hidden
    padding-top: 64px
    background-color: #f2f2f2
    .block
        &__heading
            margin-bottom: 50px
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: $white
        box-shadow: 0 0 43px -16px rgba(0,0,0,0.14)
        &_left, &_right, &_right-shape
            pointer-events: none
            background-repeat: no-repeat
            background-position: center center
            position: absolute
            z-index: 1
        &_left
            width: 495px
            height: 2514px
            top: 20px
            left: 50%
            transform: translateX(-1040px)
        &_right
            width: 1920px
            height: 2535px
            top: 64px
            right: 50%
            transform: translateX(960px)
            mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 90% ,rgba(0,0,0,0))
        &_right-shape
            width: 614px
            height: 2426px
            top: -530px
            right: 50%
            transform: translateX(1200px)
    &__content
        position: relative
        z-index: 2
        .block
            &__heading
                font-size: 36px
                max-width: 400px
                margin-left: 40px
        .brain
            &__text
                max-width: 500px
                margin-left: 40px
    &__text
        line-height: 1.5
        margin-bottom: 30px
        span
            color: $blue
            font-weight: 700
    &__sketch
        display: block
        width: 114px
        height: 127px
        margin: 90px 0 35px 40px
    &__image
        display: block
        width: 550px
        height: 324px
        filter: drop-shadow(0px 12px 17px rgba(0,0,0,0.12))
    hr
        display: block
        width: 107px
        height: 10px
        background-color: #84bbb3
        margin: 0 0 240px 40px
    &__block
        position: relative
        margin-top: 160px
        .brain__circle
            width: 448px
            height: 448px
            border-radius: 50%
            background-color: #84bbb3
            position: absolute
            top: 0
            left: 0
        img
            position: relative
            top: 124px
            z-index: 1
.microclimate
    position: relative
    z-index: 1
    padding: 60px 0 430px
    .block
        &__desc
            background-color: #E7E6E5
            margin: -20px 0 0 -30px
            max-width: 700px
    &__text
        line-height: 1.5
        display: block
        margin-bottom: 30px
        span
            color: $blue
            font-weight: 700
    &__block
        background-color: $white
        padding: 50px 30px 20px
        margin: 0 0 0 -30px
        border-radius: 0 0 20px 20px
        max-width: 700px
        box-shadow: 0px 6px 23px rgba(0,0,0,0.17)