.children
    position: relative
    overflow: hidden
    padding-top: 540px
    margin-top: -380px
    background-color: $white
    .block
        &__heading
            margin: 50px 0
        &__desc
            background-color: #E7E6E5
            margin: 0 0 0 -35px
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: $white
        box-shadow: 0 0 43px -16px rgba(0,0,0,0.14)
        &_center, &_right
            pointer-events: none
            background-repeat: no-repeat
            background-position: center center
            position: absolute
            z-index: 1
        &_center
            width: 1583px
            height: 683px
            top: 450px
            left: 50%
            transform: translateX(-770px)
        &_right
            width: 410px
            height: 1607px
            top: 0px
            right: 50%
            transform: translateX(1040px)
    &__text
        line-height: 1.5
        margin-bottom: 30px
        max-width: 640px
        span
            color: $blue
            font-weight: 700
    &__slider
        margin: 40px auto 115px
        max-width: 480px
        height: 800px
        .swiper-slide
            display: flex
            justify-content: center
            align-items: center
            a
                margin: auto auto
                display: block
                width: 400px
                height: 727px
                border-radius: 20px
                box-shadow: 0px 8px 36px rgba(0,0,0,0.17)
                transition: all 0.3s ease
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: 50%
                    border-radius: 20px
        .swiper-slide-active
            .swiper-button-prev, .swiper-button-next
                display: flex
    .swiper-button-prev, .swiper-button-next
        background: $white
        display: none
        justify-content: center
        align-items: center
        width: 45px
        height: 45px
        border: 2px solid $white
        border-radius: 50%
        transition: all 0.3s ease
        img
            display: block
            width: 24px
            height: 24px
            margin-left: -4px
            transition: all 0.3s ease
            filter: invert(0.6)
        &:hover
            background: none
            img
                filter: none
        &:focus
            outline: 0
    .swiper-button-prev
        left: 22px
    .swiper-button-next
        right: 22px
        img
            margin-left: 0
            transform: scaleX(-1)