.diabet
    position: relative
    background-color: #DFDEE0
    overflow: hidden
    .block
        &__heading
            margin-top: 170px
            margin-bottom: 50px
        &__desc
            background-color: #E7E6E5
            max-width: 820px
            margin: 166px 0 -40px -30px
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: #f2f2f2
        box-shadow: 0 0 43px -16px rgba(0,0,0,0.14)
        &_left, &_center, &_right
            pointer-events: none
            background-repeat: no-repeat
            background-position: center center
            position: absolute
            z-index: 2
        &_left
            width: 482px
            height: 1362px
            top: 20px
            left: 50%
            transform: translateX(-1200px)
        &_center
            width: 1962px
            height: 589px
            top: 0px
            left: 50%
            transform: translate(-1200px)
        &_right
            width: 673px
            height: 1617px
            top: 0px
            right: 50%
            transform: translateX(1100px)
    &__image
        display: block
        width: 543px
        height: 482px
        margin-top: 75px
        border-radius: 0 0 20px 0
        filter: drop-shadow(1px 8px 20px rgba(0,0,0,0.1))
    &__text
        line-height: 1.5
        max-width: 470px
        margin-bottom: 30px
        span
            color: $blue
            font-weight: 700
            &.red
                color: $orange
        &_wide
            max-width: 100%
    hr
        display: block
        width: 107px
        height: 10px
        background-color: #82A79F
        margin: 0
    &__subheading
        display: flex
        align-items: flex-end
        margin-bottom: 40px
        .block
            &__heading
                margin: 0
        img
            display: block
            margin-left: 20px
    &__slider
        margin: 40px auto 115px
        max-width: 1040px
        height: 697px
        .swiper-slide
            a
                display: block
                height: 697px
                border-radius: 20px
                box-shadow: 0px 8px 36px rgba(0,0,0,0.17)
                transition: all 0.3s ease
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: 50%
                    border-radius: 20px
        .swiper-slide-active
            .swiper-button-prev, .swiper-button-next
                display: flex
    .swiper-button-prev, .swiper-button-next
        background: $white
        display: none
        justify-content: center
        align-items: center
        width: 45px
        height: 45px
        border: 2px solid $white
        border-radius: 50%
        transition: all 0.3s ease
        img
            display: block
            width: 24px
            height: 24px
            margin-left: -4px
            transition: all 0.3s ease
            filter: invert(0.6)
        &:hover
            background: none
            img
                filter: none
        &:focus
            outline: 0
    .swiper-button-prev
        left: -22px
    .swiper-button-next
        right: -22px
        img
            margin-left: 0
            transform: scaleX(-1)
    .swiper-pagination-bullet
        width: 14px
        height: 14px
        border: 2px solid $white
        opacity: 1
        background: none
        &-active
            background-color: $white