.doctors
    background-color: #f5f3f5
    position: relative
    padding-top: 84px
    .block
        &__heading
            color: #70a89f
        &__desc
            background-color: #e9e5e3
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: #f5f3f5
        box-shadow: 0 0 43px rgba(0,0,0,0.14)
        &_left, &_right
            position: absolute
            background-repeat: no-repeat
            background-position: center center
            pointer-events: none
            z-index: 2
        &_left
            top: 0px
            left: 50%
            transform: translateX(-1130px)
            width: 989px
            height: 1730px
        &_right
            top: -430px
            right: 50%
            transform: translateX(1200px)
            width: 1161px
            height: 1869px
    &__heading
        font-size: 24px
        font-weight: 700
        line-height: 1.4
        margin-bottom: 30px
        margin-top: 30px
    &__text
        margin-bottom: 30px
        line-height: 1.5
        span
            color: $blue
            &.red
                color: $orange
    &__slider
        margin: 0 auto 10px
        max-width: 1140px
        height: 703px
        overflow: hidden
        &-slide
            width: 370px
            img
                display: block
                margin: 0 auto 20px
                border-radius: 20px
                width: 330px
                height: 489px
                background-color: #aaaaaa
                object-fit: cover
                mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 55%, rgba(0,0,0,0))
            .content
                display: none
            b, p
                display: block
                text-align: center
                font-size: 24px
            p
                color: #6cad9f
                font-size: 21px
                padding-bottom: 20px
                position: relative
                &:after
                    content: ''
                    display: block
                    position: absolute
                    bottom: 0px
                    left: 50%
                    transform: translateX(-50%)
                    width: 68px
                    height: 4px
                    background-color: #6cad9f
        .swiper-slide-active
            .content
                display: block
    .swiper-button-prev, .swiper-button-next
        background: url("../img/icons/doctors__angle.svg") no-repeat center center / contain
        width: 35px
        height: 35px
        top: 290px
        &:focus
            outline: 0
    .swiper-button-prev
        left: -40px
        transform: scaleX(-1)
    .swiper-button-next
        right: -40px