.entertainment
    position: relative
    background-color: $white
    padding-top: 100px
    .block
        &__desc
            background-color: #d8d5d3
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: $white
        box-shadow: 0 0 43px -16px rgba(0,0,0,0.14)
    &__clouds
        pointer-events: none
        background-repeat: no-repeat
        background-position: center center
        position: absolute
        z-index: 2
        width: 1920px
        height: 1094px
        top: -690px
        left: 50%
        transform: translateX(-960px)
    &__block
        background-color: $white
        position: relative
        z-index: 2
        border-radius: 0 0 20px 20px
        padding: 60px 30px 30px
        margin: 30px 0 0 -30px
        max-width: 670px
        box-shadow: 0px 6px 23px rgba(0,0,0,0.17)
    &__text
        line-height: 1.5
        margin-bottom: 30px
    &__bg
        display: block
        width: 1920px
        height: 1010px
        pointer-events: none
        margin: -75% 0 0 -405px
        position: relative
        z-index: 1