.escort
    position: relative
    .block
        &__desc
            background-color: #E7E6E5
    &__decor
        &_left, &_right
            pointer-events: none
            background-repeat: no-repeat
            background-position: center center
            position: absolute
            z-index: 1
        &_left
            width: 567px
            height: 2029px
            top: -400px
            left: 50%
            transform: translateX(-1100px)
        &_right
            width: 1142px
            height: 3210px
            top: -350px
            right: 50%
            transform: translateX(1280px)
    &__text
        line-height: 1.5
        margin-bottom: 30px
        max-width: 560px
        span
            color: $blue
            font-weight: 700
    &__slider
        margin: 40px auto 115px
        max-width: 1090px
        height: 700px
        .swiper-slide
            a
                display: block
                height: 700px
                border-radius: 20px
                box-shadow: 0px 8px 36px rgba(0,0,0,0.17)
                transition: all 0.3s ease
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: 50%
                    border-radius: 20px
            .gallery
                .top
                    height: 580px
                    a
                        height: 580px
                        border-radius: 20px 20px 0 0
                        img
                            border-radius: 20px 20px 0 0
                .bottom
                    display: flex
                    height: 121px
                    justify-content: space-between
                    border-radius: 0 0 20px 20px
                    a
                        flex: 0 0 20%
                        height: 121px
                        border-radius: 0
                        img
                            border-radius: 0
                        &:first-child
                            border-radius: 0 0 0 20px
                            img
                                border-radius: 0 0 0 20px
                        &:last-child
                            border-radius: 0 0 20px 0
                            img
                                border-radius: 0 0 20px 0
        .swiper-slide-active
            .swiper-button-prev, .swiper-button-next
                display: flex
    .swiper-button-prev, .swiper-button-next
        background: $white
        display: none
        justify-content: center
        align-items: center
        width: 45px
        height: 45px
        border: 2px solid $white
        border-radius: 50%
        transition: all 0.3s ease
        img
            display: block
            width: 24px
            height: 24px
            margin-left: -4px
            transition: all 0.3s ease
            filter: invert(0.6)
        &:hover
            background: none
            img
                filter: none
        &:focus
            outline: 0
    .swiper-button-prev
        left: -22px
        top: 50%
        transform: none
    .swiper-button-next
        right: -22px
        top: 50%
        transform: none
        img
            margin-left: 0
            transform: scaleX(-1)