.guest-comfort
    overflow: hidden
    position: relative
    background-color: #e0dfe1
    padding-top: 69px
    .block
        &__heading
            font: 700 24px/1.4 "SF UI Text", sans-serif
        &__desc
            background-color: #d4d0ce
            max-width: 700px
            margin: 40px 0 40px -35px
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: #e0dfe1
        box-shadow: 0 0 43px rgba(0,0,0,0.14)
        &_left, &_right
            position: absolute
            background-repeat: no-repeat
            background-position: center center
            pointer-events: none
            z-index: 2
            filter: blur(7.3px)
        &_left
            top: 150px
            left: 50%
            transform: translateX(-1100px)
            width: 495px
            height: 259px
        &_right
            top: 10px
            right: 50%
            transform: translateX(1030px)
            width: 891px
            height: 406px
    &__text
        line-height: 1.4
        max-width: 670px
        span
            color: $blue
            font-weight: 700
    &__slider
        margin: 100px auto 100px
        max-width: 1020px
        height: 560px
        .swiper-slide
            a
                display: block
                height: 560px
                box-shadow: 0px 8px 36px rgba(0,0,0,0.17)
                filter: contrast(50%) brightness(1.2)
                transition: all 0.3s ease
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: 50%
        .swiper-slide-active
            a
                filter: none
            .swiper-button-prev, .swiper-button-next
                display: flex
    .swiper-button-prev, .swiper-button-next
        background: none
        display: none
        justify-content: center
        align-items: center
        width: 45px
        height: 45px
        border: 2px solid $white
        border-radius: 50%
        top: 290px
        transition: all 0.3s ease
        img
            display: block
            width: 24px
            height: 24px
            margin-left: -4px
            transition: all 0.3s ease
        &:hover
            background-color: $white
            img
                filter: invert(1)
        &:focus
            outline: 0
    .swiper-button-prev
        left: -22px
    .swiper-button-next
        right: -22px
        img
            margin-left: 0
            transform: scaleX(-1)
    .swiper-pagination-bullet
        width: 14px
        height: 14px
        border: 2px solid $white
        opacity: 1
        background: none
        &-active
            background-color: $white