.guest-callback
    background-color: $white
    padding: 40px 0
    position: relative
    z-index: 2
    margin-top: -60px
    .block
        &__heading
            font-size: 36px
            margin-bottom: 30px
    &__text
        line-height: 1.4
        font-weight: 100
    form
        max-width: 520px
        border-radius: 20px
        background-color: $white
        padding: 45px
        box-shadow: 0px 2px 58px rgba(0,0,0,0.1)
        margin: -80px 0 -80px auto
        b
            display: block
            margin-bottom: 30px
            line-height: 1.4
            color: $blue
            text-align: center
        .input
            height: 57px
            font-weight: 100
            border-radius: 10px
            border-width: 1px
        .note
            font-size: 14px
            text-align: center
            margin: 15px 0 0 0
        .button
            height: 57px
            p
                font-size: 22px