.healing
    position: relative
    background-color: #f5f3f5
    padding-top: 150px
    margin-top: -130px
    overflow: hidden
    .block
        &__heading
            margin-left: 45px
        &__desc
            background-color: #e9e5e3
            margin-left: 0
            padding-left: 45px
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: #f5f3f5
        box-shadow: 0 0 43px rgba(0,0,0,0.14)
        &_right
            position: absolute
            top: -40px
            right: 50%
            transform: translateX(1080px)
            background: url("../img/decors/healing__decor.svg") no-repeat center center
            width: 748px
            height: 1717px
            pointer-events: none
            z-index: 2
    &__text
        padding: 0 0 0 45px
        line-height: 1.5
        span
            color: $blue
            font-weight: 700
    &__note
        background-color: $white
        position: relative
        padding: 35px 40px
        line-height: 1.5
        filter: drop-shadow(0px 7px 22px rgba(0,0,0,0.11))
        margin: 50px -40px 0px 0
        max-width: 560px
        span
            color: $blue
            font-weight: 700
        &:after
            content: ''
            display: block
            position: absolute
            top: 0
            right: -22px
            width: 0
            height: 0
            border-style: solid
            border-width: 27px 22px 0 0
            border-color: $white transparent transparent transparent
    &__image
        position: relative
        pointer-events: none
        margin-left: -162px
        margin-bottom: -36px
        .healing__circle
            width: 416px
            height: 416px
            background-color: $white
            border-radius: 50%
            position: absolute
            bottom: 0px
            left: 170px
        img
            display: block
            width: 997px
            height: 533px
            margin-bottom: 35px
            filter: drop-shadow(-2px 11px 10px rgba(0,0,0,0.11))
    &-more__content
        padding-bottom: 90px
        .block
            &__heading
                margin-left: 0
                margin-bottom: 50px
            &__desc
                max-width: 945px
                margin-left: -45px
                line-height: 1.1
        .healing
            &__heading
                font-size: 24px
                display: block
                padding: 0
                line-height: 1.3
                margin-top: 120px
                margin-bottom: 30px
            &__images
                border-radius: 20px
                display: flex
                flex-wrap: wrap
                box-shadow: 0px 7px 22px rgba(0,0,0,0.17)
                margin-left: -45px
                margin-right: 45px
                a
                    display: block
                    img
                        display: block
                        width: 100%
                        height: 100%
                        object-fit: cover
                        object-position: 50%
                    &:nth-child(1)
                        flex: 0 0 100%
                        height: 350px
                        img
                            border-radius: 20px 20px 0 0
                    &:nth-child(2)
                        flex: 0 0 50%
                        height: 190px
                        img
                            border-radius: 0 0 0 20px
                    &:nth-child(3)
                        flex: 0 0 50%
                        height: 190px
                        img
                            border-radius: 0 0 20px 0
            &__text
                margin-bottom: 40px
                padding: 0
                line-height: 1.4
                span
                    text-transform: uppercase
                    color: $blue
                    display: block
                    &.red
                        text-transform: none
                        color: $orange
                        font-weight: 700
                        display: inline
                &_pre-note
                    margin-top: 80px
            &__note
                filter: none
                background-color: $blue
                color: $white
                margin: -12px 0 0 -25px
                padding: 20px 25px
                &:after
                    display: none