.history
    padding-top: 230px
    padding-bottom: 66px
    position: relative
    .block
        &__desc
            font-size: 34px
            padding: 16px 35px
            margin: 20px 0 40px
            box-shadow: 0 12px 18px rgba(0,0,0,0.17)
    &__decor
        background: rgba(71,92,88,1)
        position: absolute
        top: 486px
        left: 0
        width: 100%
        height: 100%
        mix-blend-mode: multiply
    &__image
        display: block
        margin-left: -520px
        width: 1004px
        height: 564px
        position: relative
        border-radius: 18px
        z-index: 1
    &__text
        color: $white
        line-height: 1.5
        margin-bottom: 33px
        span
            color: $orange
            font-weight: 700
    &__note
        background-color: $yellow
        text-align: center
        max-width: 427px
        padding: 13px 0
        height: 48px
    &-continue-1
        margin-top: -120px
        padding-top: 270px
        background-color: #e3d8d1
        position: relative
        .block
            &__desc
                border: 6px solid #FF542A
                max-width: 550px
                margin-bottom: 30px
        &__decor
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)
            width: 1700px
            height: 100%
            z-index: 0
            background-color: #e3d8d1
            box-shadow: 0 0 43px rgba(0,0,0,0.14)
            &_left, &_right, &_center
                position: absolute
                background-repeat: no-repeat
                background-position: center center
                pointer-events: none
                z-index: 1
            &_left
                top: -30px
                left: 50%
                transform: translateX(-830px)
                width: 422px
                height: 1664px
            &_right
                top: -30px
                right: 50%
                transform: translateX(1020px)
                width: 897px
                height: 1315px
            &_center
                top: 500px
                right: 50%
                transform: translateX(460px)
                width: 253px
                height: 1000px
        &__text
            line-height: 1.5
            margin-bottom: 33px
            span
                color: $orange
                font-weight: 700
        img
            display: block
            width: 630px
            height: 420px
            margin-top: 50px
            margin-bottom: -100px
            border-radius: 20px
            object-fit: cover
            object-position: 50%
            position: relative
            z-index: 1
    &-continue-2
        position: relative
        padding-top: 77px
        padding-bottom: 40px
        background-color: #fff2f0
        .block
            &__desc
                font-size: 24px
                max-width: 570px
                position: relative
                z-index: 1
        &__decor
            position: absolute
            top: 0
            left: 50%
            transform: translateX(-50%)
            width: 1700px
            height: 100%
            z-index: 0
            background-color: #fff2f0
            box-shadow: 0 0 43px rgba(0,0,0,0.14)
            &_left, &_right
                position: absolute
                background-repeat: no-repeat
                background-position: center center
                pointer-events: none
                z-index: 2
            &_left
                bottom: 80px
                left: 50%
                transform: translateX(-1230px)
                width: 798px
                height: 1386px
            &_right
                bottom: -150px
                right: 50%
                transform: translateX(1420px)
                width: 1038px
                height: 2733px
        &__note
            background-color: $yellow
            max-width: 610px
            padding: 20px 44px
            margin-left: -44px
            margin-bottom: 25px
            font-size: 21px
            line-height: 1
            font-weight: 700
            position: relative
            z-index: 1
        &__title
            margin-top: 130px
            font-weight: 700
            font-size: 24px
            &_color
                color: $orange
                font: 36px 'Philosopher', serif
        &__scalpel
            display: block
            width: 385px
            height: 241px
            margin-top: 90px
            margin-left: -90px
            filter: drop-shadow(7px 7px 10px rgba(0,0,0,0.13))
        &__img
            display: block
            width: 768px
            height: 513px
            margin: -50px 0
            border-radius: 20px
            filter: drop-shadow(0px 10px 28px rgba(0,0,0,0.11))
        &__block
            background-color: $white
            margin: 0 -30px
            width: calc(100% + 90px)
            max-width: 840px
            padding: 34px 30px
            box-shadow: 0px 3px 32px rgba(0,0,0,0.07)
            margin-bottom: 122px
            position: relative
            z-index: 1
            .history-continue-2__note
                margin: 0px 0 -80px
                max-width: 372px
                text-align: center
                padding: 15px 30px
                font-size: 18px
            p
                margin: 0
        &__text
            line-height: 1.5
            span
                color: $orange
                font-weight: 700
        &__heading
            font-weight: 700
            font-size: 24px
            max-width: 600px
            margin-bottom: 30px
            span
                display: block
                color: $orange
                font: 60px 'Philosopher', serif
        &__cite
            position: relative
            background-color: #73aaa1
            color: $white
            padding: 35px 40px
            line-height: 1.5
            max-width: 580px
            filter: drop-shadow(0px 7px 22px rgba(0,0,0,0.11))
            margin: 50px 0 30px
            &:after
                content: ''
                display: block
                position: absolute
                top: 0
                right: -22px
                width: 0
                height: 0
                border-style: solid
                border-width: 27px 22px 0 0
                border-color: #73aaa1 transparent transparent transparent
        &__author
            color: #8db7af
            font-size: 21px
            font-weight: 400
            b
                color: $black
                display: block
                font-size: 24px
        &__doctor
            display: block
            width: 303px
            height: 455px
            margin-top: 190px
            box-shadow: 0px -7px 19px rgba(0,0,0,0.17)
            mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%)