.hypertony
    position: relative
    background-color: #DFDEE0
    padding: 470px 0 120px
    margin-top: -550px
    .block
        &__heading
            margin-bottom: 40px
        &__desc
            max-width: 1040px
            background-color: #e8e7e6
            color: #7a8181
            margin-bottom: 40px
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: #f2f0f2
        box-shadow: 0 0 43px -16px rgba(0,0,0,0.14)
        &_left, &_center, &_right
            pointer-events: none
            background-repeat: no-repeat
            background-position: center center
            position: absolute
            z-index: 2
        &_left
            top: -500px
            left: 50%
            transform: translateX(-1350px)
            width: 692px
            height: 2730px
        &_right
            bottom: -700px
            right: 50%
            transform: translateX(1030px)
            width: 339px
            height: 1607px
        &_center
            width: 1605px
            height: 737px
            top: 0px + 530px
            left: 50%
            transform: translateX(-46%)
    &__image
        display: block
        width: 579px
        height: auto
        margin-top: 50px
        border-radius: 0 0 20px 20px
        filter: drop-shadow(0px 8px 14px rgba(0,0,0,0.11))
    &__text
        line-height: 1.4
        max-width: 500px
        margin-bottom: 30px
        span
            color: $blue
            font-weight: 700
        &_note
            margin-top: 50px
            margin-bottom: 0
            b
                font-size: 24px