.jumbotron
    position: relative
    background-color: #fff2f0
    min-height: 1100px
    margin-top: 183px
    padding-top: 83px
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: #fff2f0
        box-shadow: 0 0 43px rgba(0,0,0,0.14)
    &__image
        display: block
        margin: -83px auto -960px + 83px
        max-width: 1920px
        width: 100%
        height: 960px
        position: relative
        z-index: 1
        filter: drop-shadow(0 0 31px rgba(0,0,0,0.2))
        img
            display: block
            margin-top: -100px
            max-width: 1920px
            width: 100%
            height: 960px
            object-fit: cover
            object-position: 50%
    &__content
        position: relative
        z-index: 1
    &__title
        color: $white
        width: 418px
        background: linear-gradient(90deg, rgba(255,84,42,1) 0%, rgba(255,199,63,1) 100%)
        font-weight: 700
        border-radius: 5px
        min-height: 46px
        padding: 15px 30px
        margin: 200px 0 0 -30px
        text-align: center
        position: relative
        z-index: 1
    &__block
        background-color: $white
        margin: -20px 0 -20px
        border-radius: 0 20px 20px 20px
        padding: 40px 28px
        p
            font-weight: 100
            b
                font-weight: 700
    .button
        font-size: 30px
        margin: 0 -30px 25px
        width: calc(100% + 60px)
    &__note
        p
            margin: 0
            font-size: 14px
            b
                font-size: 21px