.location
    position: relative
    overflow: hidden
    background-color: #DFDEE0
    .block
        &__desc
            background-color: $blue
            color: $white
            font-size: 21px
            padding: 20px 40px
            margin: 20px 0 0 -40px
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: #DFDEE0
        box-shadow: 0 0 43px -16px rgba(0,0,0,0.14)
    &__block
        background-color: $white
        border-radius: 0 0 20px 20px
        padding: 40px 40px 20px
        margin: 0 0 0 -40px
        position: relative
        z-index: 2
    &__text
        line-height: 1.5
        margin-bottom: 30px
        span
            color: $blue
            font-weight: 700
    &__image
        display: block
        width: 1700px
        height: 945px
        margin: -450px 0 0 -295px
        position: relative
        z-index: 1