.meals
    position: relative
    padding-top: 30px
    padding-bottom: 100px
    .block
        &__heading
            display: block
            margin: 0 0 30px 0
            font-size: 24px
        &__desc
            margin: 20px -220px 30px -35px
    &__decor
        &_left, &_right
            position: absolute
            background-repeat: no-repeat
            background-position: center center
            pointer-events: none
            z-index: 1
        &_left
            width: 729px
            height: 1880px
            top: -760px
            left: 50%
            transform: translateX(-1400px)
        &_right
            width: 861px
            height: 2194px
            top: -900px
            right: 50%
            transform: translateX(1500px)
    &__text
        line-height: 1.5
        margin-bottom: 30px
        max-width: 520px
        span
            color: $blue
            font-weight: 700
    &__icon
        display: block
        width: 242px
        height: 234px
        margin: 0 auto 60px
    &__img
        display: block
        width: 1140px
        height: 340px
        margin: 0 auto
        border-radius: 20px
        box-shadow: 0px 18px 11px rgba(0,0,0,0.04)