.menu
    position: relative
    padding-bottom: 40px
    .block
        &__desc
            margin-left: -45px
    &__decor
        &_left, &_right
            position: absolute
            background-repeat: no-repeat
            background-position: center center
            pointer-events: none
            z-index: 2
        &_left
            top: 150px
            left: 50%
            transform: translateX(-1060px)
            width: 453px
            height: 893px
        &_right
            top: -440px
            right: 50%
            transform: translateX(1600px)
            width: 1432px
            height: 3085px
    &__heading
        display: block
        font-size: 24px
        margin-bottom: 38px
    &__text
        max-width: 680px
        line-height: 1.4
        margin-bottom: 30px
        span
            color: $blue
            font-weight: 700
    &__slider
        margin: 20px auto
        max-width: 870px
        height: 590px
        .swiper-slide
            a
                display: block
                height: 590px
                box-shadow: 0px 8px 36px rgba(0,0,0,0.17)
                filter: contrast(50%) brightness(1.2)
                transition: all 0.3s ease
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: 50%
        .swiper-slide-active
            a
                filter: none
            .swiper-button-prev, .swiper-button-next
                display: flex
    .swiper-button-prev, .swiper-button-next
        background: $white
        display: none
        justify-content: center
        align-items: center
        width: 45px
        height: 45px
        border: 2px solid $white
        border-radius: 50%
        top: 290px
        transition: all 0.3s ease
        img
            display: block
            width: 24px
            height: 24px
            margin-left: -4px
            transition: all 0.3s ease
            filter: invert(0.6)
        &:hover
            background: none
            img
                filter: none
        &:focus
            outline: 0
    .swiper-button-prev
        left: -22px
    .swiper-button-next
        right: -22px
        img
            margin-left: 0
            transform: scaleX(-1)