.nuance
    position: relative
    padding: 180px 0 68px
    background-color: #e0dfe1
    .block
        &__heading
            display: block
            font: 700 24px/1.4 "SF UI Text", sans-serif
            margin-right: -50px
        &__desc
            background-color: #d4d0ce
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: #e0dfe1
        box-shadow: 0 0 43px -16px rgba(0,0,0,0.14)
        &_left, &_right
            position: absolute
            background-repeat: no-repeat
            background-position: center center
            pointer-events: none
            z-index: 2
        &_left
            top: -700px
            left: 50%
            transform: translateX(-1260px)
            width: 640px
            height: 1762px
        &_right
            top: -100px
            right: 50%
            transform: translateX(1000px)
            width: 406px
            height: 1607px
    &__image
        display: block
        margin: 30px -15px 0
        width: 1137px
        height: 672px
        border-radius: 20px
        pointer-events: none
        filter: drop-shadow(0px 9px 11px rgba(0,0,0,0.13))
    &__clock
        display: block
        width: 115px
        height: 115px
        margin-top: -110px
        margin-bottom: 50px
    &__texts
        display: block
        width: 465px
        height: 227px
        margin-top: 10px
        margin-right: 30px
        margin-left: auto
    &__text
        line-height: 1.5
        span
            color: $blue
            font-weight: 700
            &.red
                color: $orange