.pain
    position: relative
    background-color: #fff2f0
    padding-top: 270px
    margin-top: -270px
    overflow: hidden
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: #fff2f0
        box-shadow: 0 0 43px rgba(0,0,0,0.14)
        &_left, &_right
            position: absolute
            background-repeat: no-repeat
            background-position: center center
            pointer-events: none
            z-index: 2
        &_left
            top: 0
            left: 50%
            transform: translateX(-1390px)
            width: 1324px
            height: 1214px
        &_right
            top: 200px
            right: 50%
            transform: translateX(1230px)
            width: 728px
            height: 1393px
    &__spine
        display: block
        margin-left: -405px
        width: 735px
        height: 502px
    &__content
        position: relative
        z-index: 1
    &__text
        margin: 18px 0 50px
        color: $gray
        line-height: 1.4
        b, span
            font-weight: 700
        span
            color: $orange
    .block
        &__desc
            max-width: 960px
    hr
        display: block
        width: 107px
        height: 10px
        background-color: #82A79F
        margin: 0