.personal
    position: relative
    .block
        &__heading
            margin-left: 0
        &__desc
            margin-left: -45px
    &__decor
        position: absolute
        top: 210px
        left: 50%
        transform: translateX(-1080px)
        background: url("../img/decors/personal__decor.svg") no-repeat center center
        width: 610px
        height: 961px
        pointer-events: none
        z-index: 2
    &__heading
        display: block
        font: 36px 'Philosopher', serif
        margin-bottom: 30px
    &__text
        line-height: 1.4
        margin-bottom: 30px
        span
            color: $blue
            font-weight: 700
    &__image
        display: block
        width: 100%
        height: auto
        min-height: 382px
        margin: 40px auto 0 0
        border-radius: 20px