.price
    position: relative
    background-color: #e0dfe1
    padding-bottom: 162px
    .block
        &__heading
            display: block
            font: 700 24px/1.4 "SF UI Text", sans-serif
            margin-bottom: 38px
        &__desc
            background-color: #d4d0ce
            margin-bottom: 58px
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: #e0dfe1
        box-shadow: 0 0 43px -16px rgba(0,0,0,0.14)
        box-shadow: 0 -53px #DFDEE0, 0 53px #DFDEE0, 0 0 43px rgba(0,0,0,0.14), 0 0 43px rgba(0,0,0,0.14)
        &_left, &_right
            position: absolute
            background-repeat: no-repeat
            background-position: center center
            pointer-events: none
            z-index: 2
        &_left
            top: -220px
            left: 50%
            transform: translateX(-1100px)
            width: 442px
            height: 1717px
        &_right
            top: 0px
            right: 50%
            transform: translateX(970px)
            width: 293px
            height: 1160px
    &__image
        display: block
        width: 503px
        height: 427px
        border-radius: 20px
        box-shadow: 0 11px 8px rgba(0,0,0,0.12)
    &__text
        line-height: 1.4
        max-width: 460px
        color: #6a6a6a
        span
            color: $blue
            font-weight: 700
        b
            color: $black