.professional
    position: relative
    padding-top: 30px
    .block
        &__heading
            margin-left: 0
            margin-bottom: 30px
    &__decor
        position: absolute
        background-repeat: no-repeat
        background-position: center center
        pointer-events: none
        z-index: 1
        width: 611px
        height: 1869px
        top: -900px
        right: 50%
        transform: translateX(1200px)
    &__text
        display: block
        line-height: 1.5
        margin-bottom: 30px
        max-width: 500px
        span
            color: $blue
            font-weight: 700
        &_wide
            max-width: 100%
    &__img
        display: block
        width: 1133px
        height: 632px
        margin: -400px auto 80px 0
        border-radius: 20px
        filter: drop-shadow(0px 22px 11px rgba(0,0,0,0.09))
    &__numbers
        display: block
        width: 500px
        height: 154px
        object-fit: contain
        margin: 40px 0 0 0