.procedures
    padding-bottom: 100px
    .block
        &__heading
            font-size: 36px
            margin-left: 0
            max-width: 800px
        &__desc
            background-color: $blue
            max-width: 590px
            margin: 30px 0 30px -45px
            color: $white
            font-size: 21px
    &__text
        line-height: 1.4
        max-width: 600px
        margin-right: -30px
        span
            display: block
            color: $blue
            font-weight: 700
    &__slider
        margin: 20px 0
        max-width: 870px
        height: 640px
        .swiper-slide
            a
                display: block
                height: 580px
                border-radius: 30px
                box-shadow: 0px 8px 36px rgba(0,0,0,0.17)
                filter: contrast(50%) brightness(1.2)
                transition: all 0.3s ease
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: 50%
                    border-radius: 30px
        .swiper-slide-active
            a
                filter: none
            .swiper-button-prev, .swiper-button-next
                display: flex
    .swiper-button-prev, .swiper-button-next
        background: none
        display: none
        justify-content: center
        align-items: center
        width: 45px
        height: 45px
        border: 2px solid $white
        border-radius: 50%
        top: 290px
        transition: all 0.3s ease
        img
            display: block
            width: 24px
            height: 24px
            margin-left: -4px
            transition: all 0.3s ease
        &:hover
            background-color: $white
            img
                filter: invert(1)
        &:focus
            outline: 0
    .swiper-button-prev
        left: -22px
    .swiper-button-next
        right: -22px
        img
            margin-left: 0
            transform: scaleX(-1)
    &__logo
        display: block
        margin: 0 auto