.reduce-pressure
    position: relative
    background-color: #DFDEE0
    padding-top: 20px
    overflow: hidden
    .block
        &__heading
            font-size: 36px
        &__desc
            background-color: #e8e7e6
            color: #7a8181
    &__heading
        display: flex
        align-items: center
        justify-content: space-between
        max-width: 960px
        img
            display: block
            width: 116px
            height: 87px
            flex: 0 0 116px
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: #f2f2f2
        box-shadow: 0 0 43px -16px rgba(0,0,0,0.14)
        &_center
            pointer-events: none
            background-repeat: no-repeat
            background-position: center center
            position: absolute
            z-index: 2
            width: 1605px
            height: 737px
            top: -120px
            left: 50%
            transform: translateX(-46%)
    &__text
        line-height: 1.5
        margin-bottom: 30px
        span
            color: $blue
            font-weight: 700
            &.red
                color: $orange
    &__slider
        margin: 40px auto 115px
        max-width: 690px
        height: 445px
        .swiper-slide
            a
                display: block
                height: 445px
                border-radius: 20px
                box-shadow: 0px 8px 36px rgba(0,0,0,0.17)
                transition: all 0.3s ease
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: 50%
                    border-radius: 20px
        .swiper-slide-active
            .swiper-button-prev, .swiper-button-next
                display: flex
    .swiper-button-prev, .swiper-button-next
        background: $white
        display: none
        justify-content: center
        align-items: center
        width: 45px
        height: 45px
        border: 2px solid $white
        border-radius: 50%
        transition: all 0.3s ease
        img
            display: block
            width: 24px
            height: 24px
            margin-left: -4px
            transition: all 0.3s ease
            filter: invert(0.6)
        &:hover
            background: none
            img
                filter: none
        &:focus
            outline: 0
    .swiper-button-prev
        left: -22px
    .swiper-button-next
        right: -22px
        img
            margin-left: 0
            transform: scaleX(-1)
    .swiper-pagination-bullet
        width: 14px
        height: 14px
        border: 2px solid $white
        opacity: 1
        background: none
        &-active
            background-color: $white