.school
    position: relative
    z-index: 1
    padding-bottom: 300px
    background: linear-gradient(to bottom, #3b4e4c 20%, #0599e3 130%)
    .block
        &__heading
            color: $white
            margin-bottom: 30px
        &__desc
            background-color: #beb9b7
            color: #7a8181
            max-width: 1090px
            margin: -45px 0 40px -35px
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background: linear-gradient(to bottom, #3b4e4c 20%, #0599e3 130%)
        box-shadow: 0 0 43px -16px rgba(0,0,0,0.14)
        &_left, &_right
            position: absolute
            background-repeat: no-repeat
            background-position: center center
            pointer-events: none
            z-index: 2
        &_left
            top: 230px
            left: 50%
            transform: translateX(-680px)
            width: 67px
            height: 147px
        &_right
            top: 40px
            right: 50%
            transform: translateX(740px)
            width: 237px
            height: 487px
    &__text
        color: $white
        line-height: 1.5
        max-width: 480px
        span
            color: $blue
            font-weight: 700
    &__slider
        margin: 40px auto -100px
        max-width: 690px
        height: 445px
        .swiper-slide
            a
                display: block
                height: 445px
                border-radius: 20px
                box-shadow: 0px 8px 36px rgba(0,0,0,0.17)
                transition: all 0.3s ease
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    object-position: 50%
                    border-radius: 20px
        .swiper-slide-active
            .swiper-button-prev, .swiper-button-next
                display: flex
    .swiper-button-prev, .swiper-button-next
        background: none
        display: none
        justify-content: center
        align-items: center
        width: 45px
        height: 45px
        border: 2px solid $white
        border-radius: 50%
        transition: all 0.3s ease
        img
            display: block
            width: 24px
            height: 24px
            margin-left: -4px
            transition: all 0.3s ease
        &:hover
            background-color: $white
            img
                filter: invert(1)
        &:focus
            outline: 0
    .swiper-button-prev
        left: -22px
    .swiper-button-next
        right: -22px
        img
            margin-left: 0
            transform: scaleX(-1)
    .swiper-pagination-bullet
        width: 14px
        height: 14px
        border: 2px solid $white
        opacity: 1
        background: none
        &-active
            background-color: $white