.shock
    position: relative
    padding-bottom: 120px
    .block
        &__desc
            margin-bottom: 55px
    &__image
        display: block
        width: 498px
        height: 414px
        object-fit: cover
        object-position: 50%
        border-radius: 20px
        mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 55%, rgba(0,0,0,0) 95%)
    &__text
        line-height: 1.4
        margin-bottom: 37px
        span
            color: $blue
            font-weight: 700
        b
            display: block
    &__decor
        &_left, &_right
            position: absolute
            background-repeat: no-repeat
            background-position: center center
            pointer-events: none
            z-index: 2
        &_left
            top: -620px
            left: 50%
            transform: translateX(-1080px)
            width: 776px
            height: 1292px
        &_right
            top: -530px
            right: 50%
            transform: translateX(1360px)
            width: 1057px
            height: 1558px