.tale
    padding-bottom: 100px
    .block
        &__heading
            &_small
                font-size: 36px
                margin-bottom: 30px
        &__desc
            background-color: #E7E6E5
    &__text
        line-height: 1.5
        max-width: 700px
        margin-bottom: 30px
        span
            color: $blue
            font-weight: 700