.twoweeks
    position: relative
    background-color: #f5f3f5
    padding-top: 80px
    .block
        &__desc
            background-color: #e9e5e3
            margin-right: -75px
            margin-bottom: 40px
            max-width: 680px
    &__decor
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 1700px
        height: 100%
        z-index: 0
        background-color: #f5f3f5
        box-shadow: 0 0 43px rgba(0,0,0,0.14)
        &_right
            position: absolute
            pointer-events: none
            z-index: 2
            background-repeat: no-repeat
            background-position: center center
            background-size: contain
            top: -600px
            right: 50%
            transform: translateX(1300px)
            width: 638px
            height: 1767px
    &__image
        display: block
        width: 1033px
        height: 600px
        object-fit: cover
        object-position: 0%
        transform: scaleX(-1)
        filter: drop-shadow(-2px 9px 25px rgba(0,0,0,0.21))
        margin-left: auto
        margin-right: -405px
        //margin-top: -410px
        margin-top: -500px
    &__text
        line-height: 1.7
        margin-bottom: 30px
        margin-right: -30px
        span
            color: $blue
            font-weight: 700
        &_second
            margin-right: 0