@import "fonts"

html, body
    height: 100%
body
    display: flex
    flex-direction: column
    font: 18px 'SFUI Text', sans-serif
h1,h2,h3,h4,h5,h6
    font: 60px 'Philosopher', serif
    display: block
.wrapper
    flex: 1 0 auto
    overflow-x: hidden
    width: 100%
    max-width: 1920px
    margin: 0 auto
    box-shadow: 0px 2px 13px rgba(0,0,0,0.1)
.footer
    flex-shrink: 0

$gray: #6A6A6A
$orange: #ff6338
$gold: #d2b471

@import "swiper"

@import "magnific-popup"

@import "header"
@import "content"
@import "main-blocks/jumbotron"
@import "main-blocks/pain"
@import "main-blocks/history"
@import "main-blocks/doctors"
@import "main-blocks/arrival"
@import "main-blocks/healing"
@import "main-blocks/shock"
@import "main-blocks/procedures"
@import "main-blocks/professional"
@import "main-blocks/meals"
@import "main-blocks/menu"
@import "main-blocks/personal"
@import "main-blocks/guest"
@import "main-blocks/twoweeks"

@import "main-blocks/guestcomfort"
@import "main-blocks/price"
@import "main-blocks/school"
@import "main-blocks/nuance"
@import "main-blocks/location"
@import "main-blocks/hypertony"
@import "main-blocks/reducepressure"
@import "main-blocks/diabet"

@import "main-blocks/brain"
@import "main-blocks/entertainment"
@import "main-blocks/children"
@import "main-blocks/escort"
@import "main-blocks/tale"

@import "pages/apartments"
@import "pages/contacts"
@import "pages/reviews"
@import "pages/services"
@import "pages/spine"

@import "footer"

@import "media"