.block
    &__desc
        margin: 20px 0 20px -35px
        background-color: #ebded8
        font-size: 36px
        line-height: 1.2
        font-weight: 700
        padding: 20px 35px
        color: #758482
=placeholder
    &::-webkit-input-placeholder
        @content
    &:-moz-placeholder
        @content
    &::-moz-placeholder
        @content
    &:-ms-input-placeholder
        @content
    &::placeholder
        @content
.mfp-fade.mfp-bg
  opacity: 0
  transition: all 0.15s ease-out
.mfp-fade.mfp-bg.mfp-ready 
  opacity: 0.8
.mfp-fade.mfp-bg.mfp-removing 
  opacity: 0
.mfp-fade.mfp-wrap .mfp-content
  opacity: 0
  transition: all 0.15s ease-out
.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0
.mfp-popup
    position: relative
    background: $white
    padding: 28px
    width: auto
    max-width: 480px
    margin: 20px auto
    border-radius: 20px
    &__heading
        color: $blue
        text-transform: uppercase
        text-align: center
        display: block
        font: 49px "Bebas Neue", sans-serif
    &__text
        text-align: center
        max-width: 330px
        margin: 0 auto 30px
        font-size: 21px
        color: #6A6A6A
        &_blue
            color: $blue
    .note
        color: #6a6a6a
        font-size: 14px
        text-align: center
        margin: 15px 0 0 0
    .input
        height: 57px
        font-weight: 400
        border-radius: 10px
        border-width: 2px
        font-size: 18px
        +placeholder
            font-size: 18px
    .button
        height: 57px
        p
            font-size: 22px
#thankyou
    min-height: 300px
    .block-heading
        margin: 100px auto
.mfp-iframe-holder
    .mfp-content
        height: 100%
        width: 100%
        max-width: 98%
.input, .custom-select
    padding: 10px
    border: 3px solid $blue
    border-radius: 30px
    height: 82px
    font-size: 25px
    color: $black
    position: relative
    margin-bottom: 18px
    text-align: center
    +placeholder
        font-size: 25px
        color: #6a6a6a
    &[type='date']
        &::-webkit-inner-spin-button
            margin-top: 13px
            display: none
        &::-webkit-calendar-picker-indicator
            margin-top: 1px
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            width: auto
            height: auto
            color: transparent
            background: transparent
            border: none
    &[type='time']
        &::-webkit-inner-spin-button
            margin-top: 13px
            display: none
        &::-webkit-calendar-picker-indicator
            margin-top: 1px
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            width: auto
            height: auto
            color: transparent
            background: transparent
            border: none
.custom-select
    background: url('../img/icons/angle-down.png') no-repeat right 20px top 17px/16px