@font-face
    font-family: 'Philosopher'
    src: url('../fonts/philosopherbold.woff') format('woff'),
    url('../fonts/philosopherbold.woff2') format('woff2'),
    url('../fonts/philosopherbold.ttf') format('truetype')
    font-weight: 700
    font-style: normal
@font-face
    font-family: 'SFUI Text'
    src: url('../fonts/SFUIText-Bold.woff') format('woff'),
    url('../fonts/SFUIText-Bold.ttf') format('truetype')
    font-weight: 700
    font-style: normal
@font-face
    font-family: 'SFUI Text'
    src: url('../fonts/SFUIText-Medium.woff') format('woff'),
    url('../fonts/SFUIText-Medium.ttf') format('truetype')
    font-weight: 400
    font-style: normal
@font-face
    font-family: 'SFUI Text'
    src: url('../fonts/SFUIText-Light.woff') format('woff'),
    url('../fonts/SFUIText-Light.ttf') format('truetype')
    font-weight: 100
    font-style: normal