.footer
    min-height: 1004px
    background-repeat: no-repeat
    background-position: center top
    filter: drop-shadow(0px -16px 20px rgba(0,0,0,0.14))
    position: relative
    margin-top: -50px
    &__form
        position: relative
        z-index: 1
        background-color: $white
        margin: 330px 0 0 -36px
        max-width: 510px
        border-radius: 30px
        padding: 36px 36px 52px
        img
            display: block
            width: 218px
            height: 187px
            margin: -120px 0 0 0
        &-heading
            font-size: 18px
            text-align: center
            margin-bottom: 50px
            b
                font-size: 24px
                color: $blue
                display: block
        .note
            font-size: 15px
            text-align: center
            margin: 15px 0 0 0
        .input
            height: 57px
            font-weight: 400
            border-radius: 10px
            border-width: 2px
            font-size: 18px
            +placeholder
                font-size: 18px
        .button
            height: 57px
            p
                font-size: 22px
    &__creator
        display: flex
        flex-direction: column
        max-width: 187px
        color: $white
        margin-top: 180px
        margin-left: auto
        text-align: right
        img
            width: 187px
            display: block
            height: auto
            filter: invert(1) contrast(1.2)
        p
            margin: 10px 0 0
        &:hover
            color: $white
            text-decoration: none
        &:focus
            outline: 0
    &__page
        min-height: 0
        filter: none
        background: $black
        margin: 0
        padding: 30px 0
        .footer
            &__logo
                display: flex
                align-items: center
                margin-right: -30px
                img
                    display: block
                    width: 92px
                    height: 92px
                    margin-right: 26px
                div
                    font-size: 19px
                    color: $white
                    b
                        display: block
                        margin-bottom: 10px
                    p
                        margin-bottom: 10px
                        font-weight: 300
                    a
                        text-decoration: underline
                        font-size: 16px
                        color: $gray-700
            &__socials
                list-style: none
                display: flex
                justify-content: center
                align-items: center
                margin: 20px 0 0
                padding: 0
                li
                    margin-right: 15px
                    a
                        display: flex
                        align-items: center
                        justify-content: center
                        border-radius: 50%
                        width: 40px
                        height: 40px
                        img
                            display: block
                            width: 100%
                            height: 100%
                            border-radius: 50%
                            opacity: 0.4
                            transition: all 0.3s ease
                        &:hover
                            img
                                opacity: 1
                    &:last-child
                        margin-right: 0
            &__nav
                list-style: none
                display: flex
                flex-direction: column
                flex-wrap: wrap
                margin: 0 0 0 -30px
                padding: 0
                max-height: 100px
                li
                    margin-bottom: 15px
                    margin-right: 40px
                    a
                        text-transform: uppercase
                        color: $white
                        font-weight: 700
                        font-size: 15px
                    &:nth-child(3n)
                        margin-bottom: 0