.button
    appearance: none
    display: flex
    align-items: center
    justify-content: center
    border: none
    border-radius: 10px
    background: linear-gradient(to right, rgba(32,131,187,1), rgba(86,212,146,1))
    color: $white
    height: 85px
    width: 100%
    text-align: center
    line-height: 1
    transition: all 0.3s ease
    cursor: pointer
    position: relative
    p
        position: relative
        z-index: 1
        margin: 0
    &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 10px
        background: linear-gradient(to right,rgba(86,212,146,1), rgba(32,131,187,1))
        transition: all 0.6s ease
        opacity: 0
    &:after
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border-radius: 10px
        background: url("../img/icons/button__circles.svg") no-repeat center center / 120%
        mix-blend-mode: soft-light
        pointer-events: none
        transition: all 0.3s ease-in-out
    &:hover
        color: $white
        text-decoration: none
        &:before
            opacity: 1
    &:focus
        outline: 0
.header
    height: auto
    position: fixed
    width: 100%
    max-width: 1920px
    top: 0
    z-index: 11
    background-color: $white
    box-shadow: 0px 2px 13px rgba(0,0,0,0.1)
    .navbar-brand
        padding: 0
        margin: 0
        display: flex
        align-items: center
        img
            width: 92px
            height: 92px
        &:focus
            outline: 0
    &__navbar
        flex-direction: column
        align-items: stretch
        padding: 24px 0 0
        margin: 0 -15px
    &__top
        display: flex
        flex-wrap: wrap
    &__title
        margin-left: 20px
        b
            display: block
            font: 36px "Philosopher", serif
            line-height: 1.4
        p
            margin: 0
            text-transform: uppercase
            font-size: 14px
            color: $gray
    &__contacts
        margin-left: auto
    &__phones
        display: flex
        justify-content: space-between
        margin-bottom: 15px
    &__phone
        display: block
        color: $black
        transition: all 0.3s ease
        &:hover
            text-decoration: none
            color: $blue
        &:focus
            outline: 0
    &__button
        width: 355px
        height: 46px
    .navbar-toggler[aria-expanded=false]
        .navbar-toggler-icon
            background: url("../img/menu__icon.svg") no-repeat center center
            width: 34px
            height: 22px
    .navbar-toggler-icon
        background: url("../img/menu__icon.svg") no-repeat center center
        width: 34px
        height: 22px
    .navbar-toggler
        border: none
        margin-top: -4px
        &:focus
            outline: 0
    .navbar-collapse
        flex: 0 0 100%
    .navbar-nav
        width: 100%
        min-height: 41px
        margin-top: 23px
        justify-content: space-between
        .nav-item
            display: flex
            align-items: center
            justify-content: center
            padding: 0 15px
            border-right: 1px solid $gray-400
            flex: 1 1 auto
            .nav-link
                padding: 10px 0
                text-align: center
                position: relative
                color: $black
                font-weight: 100
                transition: all 0.3s ease
                &:after
                    content: ''
                    width: 100%
                    position: absolute
                    left: 0
                    bottom: 0
                    height: 4px
                    background-color: $blue
                    transition: all 0.3s ease
                    transform: scaleX(0)
                &:hover, &.active
                    color: $blue
                    &:after
                        transform: scaleX(1)
            &:first-child
                padding-left: 0
                justify-content: flex-start
                .nav-link
                    text-align: left
            &:last-child
                padding-right: 0
                border-right: 0
                justify-content: flex-end
                .nav-link
                    text-align: right