@media (min-width: 1200px) and (max-width: 1440px)
    p
        font-size: 15px
    h3
        font-size: 50px
    .block
        &__desc
            font-size: 24px !important
    .header
        &__navbar
            padding: 10px 0 0
        &__title
            b
                margin-top: 5px
                font-size: 28px
            p
                font-size: 11px
                br
                    display: none
        &__phone
            font-size: 14px
        &__phones
            margin-bottom: 10px
        &__button
            width: 280px
            height: 36px
            p
                font-size: 14px
        .navbar-brand
            img
                width: 64px
                height: 64px
    .jumbotron
        margin-top: 138px
        padding-top: 40px
        min-height: 760px
        h1
            font-size: 50px
        &__image
            max-width: 1440px
            margin-top: -40px
            margin-bottom: -917px
            img
                max-width: 1440px
                height: 721px
                margin-top: -40px
        &__title
            font-size: 15px
            padding: 12px 30px
            min-height: 0
            margin-top: 100px
            width: 378px
        &__block
            max-width: 500px
        .button
            height: 72px
            max-width: 560px
            p
                font-size: 24px
        &__note
            p
                font-size: 13px
                b
                    font-size: 18px
    .pain
        padding-top: 120px
        margin-top: -120px
        &__decor
            &_left, &_right
                display: none
        &__text
            margin-bottom: 30px
        &__spine
            margin-left: -250px
            width: 735px * 0.8
            height: 502px * 0.8
    .history
        padding-top: 60px
        &__decor
            top: 280px
        &__text
            margin-bottom: 26px
            br
                display: none
        &__image
            margin-left: -300px
            width: 1004px * 0.8
            height: 564px * 0.8
    .history-continue
        &-1
            padding-top: 160px
            margin-top: -110px
            .block
                &__desc
                    border-width: 4px
                    max-width: 450px
            &__decor
                &_center
                    top: 200px
                &_left, &_right
                    display: none
            &__text
                margin-bottom: 28px
            img
                width: 630px * 0.8
                height: 420px * 0.8
        &-2
            &__decor
                &_left, &_right
                    display: none
            &__note
                max-width: 530px
                font-size: 18px
            &__title
                margin-top: 70px
                font-size: 20px
                &_color
                    font-size: 28px
            &__img
                width: 768px * 0.8
                height: 513px * 0.8
            &__block
                padding: 28px 25px
                margin: 0 -25px 80px
                max-width: 720px
            &__heading
                font-size: 20px
                span
                    font-size: 50px
            &__cite
                padding: 30px
                br
                    display: none
            &__doctor
                margin-top: 80px
            &__author
                font-size: 17px
                b
                    font-size: 20px
    .doctors
        &__decor
            &_left
                display: none
        &__heading
            font-size: 20px
            margin: 20px 0
        &__slider
            max-width: 1000px
            height: 600px
            &-slide
                img
                    width: 280px
                    height: 420px
                .content
                    b
                        font-size: 20px
                    p
                        font-size: 17px
        .swiper-button
            &-next
                right: 0
            &-prev
                left: 0
    .arrival
        &__decor
            top: 245px
        &__note
            font-size: 18px
        &__image
            width: 766px * 0.9
            height: 571px * 0.9
            margin-left: -205px
            margin-top: 280px
            img
                width: 100%
                height: 100%
    .healing-more
        &__content
            .healing
                &__heading
                    font-size: 20px
    .procedures
        padding-bottom: 30px
        .block
            &__desc
                max-width: 630px
        &__slider
            height: 440px
            .swiper-slide
                a
                    height: 440px
        .swiper-button
            &-prev, &-next
                top: 50%
    .meals
        .block
            &__heading
                font-size: 20px
        &__icon
            width: 190px
            height: 183px
    .menu
        &__heading
            font-size: 20px
        &__slider
            height: 440px
            .swiper-slide
                a
                    height: 440px
        .swiper-button
            &-prev, &-next
                top: 50%
    .guest-comfort
        .block
            &__heading
                font-size: 20px
        &__slider
            height: 440px
            margin: 30px auto 80px
            .swiper-slide
                a
                    height: 440px
        .swiper-button
            &-prev, &-next
                top: 50%
        .swiper-pagination
            bottom: 30px
    .price
        .block
            &__heading
                font-size: 20px
    .school
        &__text
            br
                display: none
    .location
        &__image
            width: 1440px
            height: 800px
            margin: -390px 0 0 -165px
    .hypertony
        padding-bottom: 60px
        &__image
            width: 540px
            height: 365px
            margin-top: 0
    .reduce-pressure
        &__slider
            margin-bottom: 40px
    .diabet
        .block
            &__desc
                max-width: 720px
                margin-top: 100px
        &__image
            margin-top: 0
        &__slider
            height: 440px
            .swiper-slide
                a
                    height: 440px
    .brain
        hr
            margin-bottom: 180px
    .entertainment
        &__block
            padding: 30px
        &__bg
            width: 1440px
            height: 757px
            margin: -55% 0 0 -165px
    .children
        .block
            &__heading
                margin: 25px 0
        &__slider
            height: 600px
            margin: 20px auto 20px
            .swiper-slide
                a
                    height: 600px
    .escort
        &__slider
            height: 440px
            margin: 20px auto 60px
            .swiper-slide
                a
                    height: 440px
                .gallery
                    .top
                        height: 370px
                        a
                            height: 100%
                    .bottom
                        height: 70px
                        a
                            height: 70px
    .tale
        padding-bottom: 60px
    .footer
        min-height: 800px
        &__form
            margin-top: 230px
            &-heading
                font-size: 15px
                margin-bottom: 30px
                br
                    display: none
                b
                    font-size: 20px
        &__page
            min-height: 0
    .contacts
        margin-top: 138px
        .list
            li
                a
                    font-size: 15px
    .reviews
        margin-top: 138px
    .apartments
        margin-top: 138px
    .services
        margin-top: 138px
    .spine-heal
        margin-top: 138px
@media (min-width: 1200px)
    .twoweeks
        &__text
            max-width: 840px
            br
                display: none
@media (min-width: 992px) and (max-width: 1199px)
    p
        font-size: 15px
    h3
        font-size: 50px
    .block
        &__desc
            font-size: 20px !important
            br
                display: none
    .header
        &__navbar
            padding: 10px 0 0
        &__title
            b
                margin-top: 5px
                font-size: 28px
            p
                font-size: 11px
                br
                    display: none
        &__phone
            font-size: 14px
        &__phones
            margin-bottom: 10px
        &__button
            width: 280px
            height: 36px
            p
                font-size: 14px
        .navbar-brand
            img
                width: 64px
                height: 64px
        .navbar-nav
            .nav-item
                .nav-link
                    font-size: 16px
    .jumbotron
        margin-top: 138px
        padding-top: 40px
        min-height: 760px
        h1
            font-size: 50px
        &__image
            max-width: 1440px
            margin-top: -40px
            margin-bottom: -917px
            img
                max-width: 1440px
                height: 721px
                margin-top: -40px
        &__title
            font-size: 15px
            padding: 12px 30px
            min-height: 0
            margin-top: 100px
            width: 378px
        &__block
            max-width: 500px
        .button
            height: 72px
            max-width: 560px
            p
                font-size: 24px
        &__note
            p
                font-size: 13px
                b
                    font-size: 18px
    .pain
        padding-top: 120px
        margin-top: -120px
        &__decor
            &_left, &_right
                display: none
        &__text
            margin-bottom: 30px
            br
                display: none
        &__spine
            margin-left: -250px
            width: 735px * 0.8
            height: 502px * 0.8
    .history
        padding-top: 70px
        &__decor
            top: 280px
        &__text
            margin-bottom: 26px
            br
                display: none
        &__image
            margin-left: -470px
            width: 1004px * 0.8
            height: 564px * 0.8
    .history-continue
        &-1
            padding-top: 160px
            margin-top: -110px
            .block
                &__desc
                    border-width: 4px
                    max-width: 450px
            &__decor
                &_center
                    top: 200px
                &_left, &_right
                    display: none
            &__text
                margin-bottom: 28px
            img
                width: 630px * 0.8
                height: 420px * 0.8
        &-2
            &__decor
                &_left, &_right
                    display: none
            &__text
                br
                    display: none
            &__note
                max-width: 530px
                font-size: 18px
            &__title
                margin-top: 70px
                font-size: 20px
                &_color
                    font-size: 28px
            &__img
                width: 768px * 0.8
                height: 513px * 0.8
            &__block
                padding: 28px 25px
                margin: 0 -25px 80px
                max-width: 720px
            &__heading
                font-size: 20px
                span
                    font-size: 50px
            &__cite
                padding: 30px
                br
                    display: none
            &__doctor
                margin-top: 80px
            &__author
                font-size: 17px
                b
                    font-size: 20px
    .doctors
        &__decor
            &_right
                right: calc(50vw - 1300px)
        &__heading
            font-size: 20px
            margin: 20px 0
        &__slider
            margin-top: 40px
            &-slide
                img
                    width: 280px
                    height: 420px
        .block
            &__heading
                font-size: 56px
        .swiper-button
            &-prev
                left: 0
            &-next
                right: 0
            &-prev, &-next
                background-color: $white
                border-radius: 50%
    .arrival
        &__decor
            top: 245px
        &__note
            font-size: 18px
        &__image
            width: 766px * 0.9
            height: 571px * 0.9
            margin-left: -345px
            margin-top: 280px
            img
                width: 100%
                height: 100%
    .healing
        margin-top: -100px
        padding-top: 100px
        &__image
            margin-top: 55px
            margin-left: -220px
    .healing-more
        &__content
            .healing
                &__heading
                    font-size: 20px
    .shock
        &__text
            br
                display: none
        &__image
            width: 450px
            height: 374px
    .professional
        &__text
            max-width: 440px
            br
                display: none
        &__img
            width: 960px
            height: 535px
            margin-top: -280px
        &__numbers
            width: 100%
            height: auto
    .meals
        .block
            &__heading
                font-size: 20px
        &__icon
            width: 190px
            height: 183px
        &__img
            width: 100%
            height: auto
    .procedures
        padding-bottom: 30px
        .block
            &__desc
                max-width: 630px
        &__slider
            height: 440px
            .swiper-slide
                a
                    height: 440px
        .swiper-button
            &-prev, &-next
                top: 50%
    .menu
        &__heading
            font-size: 20px
        &__slider
            height: 440px
            .swiper-slide
                a
                    height: 440px
        .swiper-button
            &-prev, &-next
                top: 50%
    .personal
        &__image
            width: 930px
            height: 336px
            min-height: 0
    .twoweeks
        &__text
            margin-right: 0
            br
                display: none
        &__image
            margin-top: 0
            margin-right: -134px
    .guest-comfort
        .block
            &__heading
                font-size: 20px
        &__slider
            height: 440px
            margin: 30px auto 80px
            .swiper-slide
                a
                    height: 440px
        .swiper-button
            &-prev, &-next
                top: 50%
        .swiper-pagination
            bottom: 30px
    .price
        .block
            &__heading
                font-size: 20px
        &__image
            width: 100%
            height: auto
    .school
        .block
            &__desc
                font-size: 30px
    .nuance
        .block
            &__heading
                font-size: 20px
        &__text
            br
                display: none
        &__texts
            margin-right: -60px
        &__image
            width: 930px
            height: 621px
    .location
        &__image
            width: 1440px
            height: 800px
            margin: -380px 0 0 -165px
    .hypertony
        &__image
            width: 100%
            height: auto
    .reduce-pressure
        &__slider
            margin-bottom: 40px
    .diabet
        .block
            &__desc
                max-width: 720px
                margin-top: 100px
        &__image
            width: 100%
            height: auto
            margin-top: 110px
        &__slider
            height: 440px
            .swiper-slide
                a
                    height: 440px
    .brain
        &__block
            .brain__circle
                width: 360px
                height: 360px
            img
                width: 500px
                height: auto
                top: 85px
        &__sketch
            margin: 40px 0 35px 40px
        hr
            margin-bottom: 180px
    .entertainment
        &__block
            padding: 30px
        &__bg
            width: 1440px
            height: 757px
            margin: -55% 0 0 -165px
    .children
        .block
            &__heading
                margin: 25px 0
        &__slider
            height: 600px
            margin: 20px auto 20px
            .swiper-slide
                a
                    height: 600px
    .escort
        &__slider
            height: 440px
            .swiper-slide
                a
                    height: 440px
                .gallery
                    .top
                        height: 370px
                        a
                            height: 100%
                    .bottom
                        height: 70px
                        a
                            height: 70px
    .tale
        padding-bottom: 60px
    .footer
        min-height: 800px
        &__form
            margin-top: 230px
            &-heading
                font-size: 15px
                margin-bottom: 30px
                br
                    display: none
                b
                    font-size: 20px
        &__page
            min-height: 0
            .footer
                &__logo
                    img
                        width: 82px
                        height: 82px
                        margin-right: 15px
                    div
                        font-size: 15px
                        a
                            font-size: 14px
                &__socials
                    margin: 20px -30px 0
                    max-width: 190px
                &__nav
                    margin-left: -80px
                    li
                        margin-bottom: 13px
                        a
                            font-size: 14px
    .contacts
        margin-top: 138px
    .licenses
        &__link
            height: auto
            img
                height: auto
    .reviews
        margin-top: 138px
        h1
            font-size: 48px
    .apartments
        margin-top: 138px
    .apartment
        .list-rows
            ul
                flex: 0 0 30% !important
    .services
        margin-top: 138px
        &__block
            height: calc(100% - 15px)
            img
                width: 50%
                flex: 0 0 50%
            div
                b
                    font-size: 20px
    .spirit
        &__block
            .top
                height: 148px
                div
                    b
                        font-size: 32px
                    p
                        font-size: 16px
    .loyalty
        &__table
            thead
                tr
                    th
                        font-size: 26px
            tbody
                tr
                    td
                        font-size: 20px
    .spine-heal
        margin-top: 138px
    .chinese-medicine
        &__block
            align-items: center
            .left
                .list
                    max-height: 220px
                    li
                        flex: 0 0 105px
                        padding: 23px
                        width: 50%
@media (min-width: 768px) and (max-width: 991px)
    .header
        position: fixed
        z-index: 4
        top: 0
        height: auto
        width: 100%
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2)
        &__navbar
            padding: 10px 0
        &__title
            max-width: 480px
            b
                font-size: 28px
                line-height: 1.3
            p
                display: none
        &__phones
            flex-direction: column
            align-items: center
            order: 1
        &__phone
            margin-bottom: 15px
        &__button
            order: 0
            margin: 35px auto 35px
        &__contacts
            flex-direction: column
        &__address
            order: 2
            max-width: 360px
            margin: 0 auto
            text-align: center
            b
                display: block
        &__top
            align-items: center
        .navbar-brand
            img
                width: 72px
                height: 72px
        .navbar-toggler
            margin-left: auto
        .navbar-nav
            margin-bottom: 20px
            .nav-item
                justify-content: center !important
                padding: 0
                border: none
    .jumbotron, .pain
        &__decor
            display: none
    .jumbotron
        margin-top: 92px
        min-height: 0
        background-color: $white
        h1
            background: linear-gradient(to right, rgba(32,131,187,1), rgba(86,212,146,1))
            padding: 30px
            color: $white
            margin: -136px auto 0
            border-radius: 5px
            font-size: 35px
            box-shadow: 0 10px 20px rgba(0,0,0,0.11)
            br
                display: none
        &__image
            height: auto
            margin: -83px auto 0px
            img
                margin: 0
                height: auto
        &__title
            margin-top: 34px
    .block
        &__heading
            font-size: 35px
        &__desc
            font-size: 22px
            padding: 20px 40px
            margin: 20px -40px 20px
    .pain
        padding-top: 50px
        margin-top: 0
        background-color: $white
        &__decor
            &_left, &_right
                display: none
        &__spine
            margin: 0px auto 30px
            width: 100%
            height: auto
    .history
        padding: 100px 0 0
        .block
            &__desc
                margin: 20px 0 0
                box-shadow: none
                font-size: 22px
        &__decor
            top: 294px
        &__image
            width: 100%
            height: auto
            margin: 0 auto 50px
        &__text
            br
                display: none
        &__note
            max-width: 100vw
            width: 100%
            margin: 0
    .history-continue
        &-1
            padding-top: 84px
            margin-top: 0
            &__decor
                &_left
                    top: 60px
                    left: calc(50vw )
                    background-size: contain
                    width: 183px * 2
                    height: 723px * 2
                &_center, &_right
                    display: none
            img
                width: 100%
                height: auto
                border-radius: 0
                margin-bottom: 0
        &-2
            padding-top: 0
            .block
                &__desc
                    max-width: 100vw
                    padding: 20px 40px
                    margin: 20px -40px
            &__note
                max-width: 100vw
                padding: 20px 40px
                margin: 0 -40px 25px
            &__img
                width: 100%
                height: auto
            &__block
                margin: 0 auto 70px
                width: 100%
            &__cite
                max-width: 100vw
                margin: 50px 0 0
                &:after
                    top: auto
                    bottom: -27px
                    right: 0
            &__doctor
                margin: 0 auto 20px
                box-shadow: none
    .doctors
        &__decor
            &_left
                top: 1300px
                left: -300px
                width: 989px * 0.6
                height: 1730px * 0.6
                background-size: contain
                transform: rotate(30deg)
            &_right
                top: 940px
                right: -300px
                background-size: contain
                width: 1161px * 0.5
                height: 1869px * 0.5
        &__slider
            height: 720px
        .swiper-button
            &-next
                right: 0
            &-prev
                left: 0
            &-next, &-prev
                background-color: $white
                border-radius: 50%
    .arrival
        padding: 200px 0 0
        .block
            &__desc
                font-size: 22px
                max-width: 100vw
                box-shadow: none
                padding: 16px 40px
                margin: 20px -40px 20px
        &__decor
            top: 250px + 142px
        &__note
            max-width: 100vw
            margin: 0 -40px 33px
        &__image
            margin: 0 auto
            border-radius: 0
            width: 100%
            height: auto
            box-shadow: none
            img
                width: 100%
                height: auto
                border-radius: 0
                mask-image: none
    .healing
        padding-top: 30px
        margin-top: 0
        &__decor
            display: none
            &_right
                display: none
            &-mobile
                &_left
                    display: block
                    width: 224px
                    height: 112px
                &_right
                    display: block
                    width: 365px
                    height: 170px
                    filter: blur(7.3px)
        &__decors
            display: flex
            justify-content: space-between
            height: 170px
            align-items: center
        .block
            &__heading
                margin-left: 0
            &__desc
                padding: 20px 40px
                margin: 20px -40px 20px
        &__text
            padding-left: 0
        &__note
            margin: 50px auto 0
            max-width: 100%
            &:after
                top: auto
                bottom: -27px
                right: 0
        &__image
            margin-left: -50px
            .healing__circle
                bottom: 0
            img
                filter: none
                position: relative
                z-index: 1
    .healing-more
        &__content
            .healing
                &__heading
                    margin: 0 auto 30px
                &__note
                    padding: 20px 40px
                    margin: 0 -40px
                    max-width: 100vw
                &__images
                    margin: 0 auto
                    border-radius: 0
                    a
                        img
                            border-radius: 0 !important
    .shock
        padding-bottom: 0
        &__image
            width: 100%
            height: 600px
            border-radius: 0
    .procedures
        .block
            &__desc
                max-width: 100vw
    .professional
        .block
            &__heading
                br
                    display: none
        &__text
            max-width: 100%
            br
                display: none
        &__img
            width: 100%
            height: auto
            margin: 0 auto 80px
        &__numbers
            width: 100%
            height: auto
    .meals
        &__img
            width: 100%
            height: auto
        &__icon
            width: 160px
            height: auto
            margin: 0 auto 30px 0
    .menu
        &__heading
            br
                display: none
    .personal
        &__image
            width: 100%
            height: auto
            min-height: 0
            border-radius: 0
    .guest-callback
        &__text
            br
                display: none
        form
            max-width: 100vw
            margin: 20px auto 0
    .twoweeks
        .block
            &__desc
                max-width: 100vw
                br
                    display: none
        &__text
            margin-right: 0
            br
                display: none
        &__image
            width: 100%
            height: auto
            margin: 0 -6% 0 auto
    .guest-comfort
        .block
            &__desc
                margin: 40px -40px 40px
                max-width: 100vw
        &__slider
            height: 460px
            .swiper-slide
                a
                    height: 100%
        .swiper-button
            &-prev, &-next
                top: 50%
    .price
        .block
            &__heading
                br
                    display: none
            &__desc
                margin: 0 -40px 20px
        &__text
            max-width: 100vw
        &__image
            width: 100%
            height: auto
            margin: 30px auto 0
    .school
        .block
            &__desc
                max-width: 100vw
                margin: -45px -40px 40px
        &__text
            br
                display: none
    .nuance
        .block
            &__desc
                br
                    display: none
        &__text
            br
                display: none
        &__image
            width: 100%
            height: auto
            margin: 30px auto 0
            border-radius: 0
    .location
        .block
            &__desc
                margin: 0 -40px 0
        &__block
            margin: 0 -40px
            border-radius: 0
        &__image
            width: calc(100vw + 15.2vw)
            height: auto
            margin: 0 auto 0 -15.2vw
    .hypertony
        padding: 0 0
        margin-top: 0
        &__decor
            display: none
        .block
            &__desc
                margin: 0 -40px 20px
        &__text
            max-width: 100%
            br
                display: none
        &__image
            border-radius: 0
            filter: none
            width: calc(100% + 80px)
            height: auto
            margin: 50px -40px 0
    .reduce-pressure
        padding-top: 180px
        &__decor
            display: none
        .block
            &__heading
                br
                    display: none
            &__desc
                max-width: 100vw
                flex: 0 0 100%
                margin: 20px 0
        &__heading
            max-width: 100vw
            margin: 0 -40px
            img
                position: absolute
                top: -110px
                left: 0
    .diabet
        .block
            &__heading
                margin: 0 0 20px
            &__desc
                max-width: 100vw
                margin: 0 -40px 0
        &__decor
            display: none
            &_left, &_center, &_right
                display: none
        &__text
            max-width: 100%
            br
                display: none
        &__image
            width: calc(100% + 80px)
            height: auto
            border-radius: 0
            margin: 30px -40px 0
            filter: none
        &__subheading
            flex-direction: column
            align-items: flex-start
            h3
                order: 1
                br
                    display: none
            img
                order: 0
                margin: 0 0 20px
                transform: scaleX(-1)
        &__slider
            height: 480px
            .swiper-slide
                height: 480px
                a
                    height: 100%
        hr
            display: none
    .stress
        background-color: $white
    .brain
        .block
            &__heading
                max-width: 100%
                margin-left: 0
        &__decor
            &_right
                width: 100%
                height: 1014px
                right: 0
                top: auto
                background-size: contain
                bottom: 0
                transform: none
                mask-image: none
        &__block
            max-width: 430px
            margin: 0 auto 200px
            .brain__circle
                width: 360px
                height: 360px
            img
                width: 500px
                height: auto
                top: 85px
        &__sketch
            margin: 0 auto 35px
        &__content
            .brain__text
                max-width: 100%
                margin-left: 0
                br
                    display: none
        &__text
            max-width: 100%
            br
                display: none
        hr
            display: none
    .entertainment
        padding-top: 0
        .block
            &__heading
                br
                    display: none
            &__desc
                margin: 0 -40px 20px
        &__clouds
            display: none
        &__block
            max-width: 100vw
            padding: 0 30px
            margin: 30px -30px 0
            background: none
            box-shadow: none
        &__bg
            width: calc(100% + 80px)
            height: auto
            margin: 0 -40px
    .children
        padding-top: 50px
        margin-top: 0
        .block
            &__heading
                margin: 20px auto 0
            &__desc
                margin: 0 -40px
        &__decor
            &_center, &_right
                display: none
        &__slider
            height: 680px
            margin: 30px auto
            .swiper-slide
                a
                    height: 600px
    .escort
        .block
            &__heading
                margin: 20px auto
        &__text
            max-width: 100%
        &__slider
            height: 400px
            .swiper-slide
                a
                    height: 100%
                .gallery
                    .top
                        height: 338px
                        a
                            height: 338px
                    .bottom
                        height: 72px
                        a
                            height: 72px
    .tale
        .block
            &__heading
                text-align: center
                margin: 20px auto
    .footer
        &__page
            .footer
                &__nav
                    margin: 20px auto 0
                    li
                        margin-right: 0
    .contacts
        margin-top: 92px
    .licenses
        .block
            &__heading
                font-size: 40px
        &__link
            height: auto
            img
                height: auto
    .reviews
        margin-top: 92px
        h1
            font-size: 48px
        &__block
            .info
                .list
                    min-height: 255px
                    li
                        align-items: center
                        flex-direction: column
                        div
                            flex: 0 0 auto
                        p
                            margin-bottom: 10px
                        b
                            text-align: center
                        &:after
                            display: none
                .situation
                    margin-left: -275px
    .video-reviews
        &__block
            .info
                flex-direction: column
                b
                    text-align: center
                    margin-bottom: 10px
    .apartments
        margin-top: 92px
        &__list
            max-height: 100%
            flex-direction: row
            li
                width: auto
                flex: 0 0 49%
                height: 90px
    .apartment
        .list-rows
            ul
                flex: 0 0 31% !important
        &__table
            &-heading
                padding: 0 10px
                font-size: 14px
            &-block
                p
                    font-size: 20px
    .services
        margin-top: 92px
        &__block
            img
                width: 50%
                flex: 0 0 50%
            div
                b
                    font-size: 20px
    .spirit
        &__block
            .top
                height: 168px
                div
                    b
                        font-size: 36px
                    p
                        font-size: 16px
    .loyalty
        &__table
            thead
                tr
                    th
                        font-size: 18px
            tbody
                tr
                    td
                        font-size: 14px
    .partnership
        .button
            margin-bottom: 40px
    .spine-heal
        margin-top: 92px
    .chinese-medicine
        .block
            &__heading
                font-size: 28px
        &__block
            flex-direction: column
            .left
                .list
                    max-height: 100%
                    li
                        flex: 0 0 auto
                        width: 100%
                        border: none
            .right
                flex: 0 0 auto
    .spine-note
        .block
            &__heading
                margin: 40px auto 40px
@media (min-width: 576px) and (max-width: 767px)
    p
        font-size: 14px
    .header
        position: fixed
        z-index: 4
        top: 0
        height: auto
        width: 100%
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2)
        &__navbar
            padding: 10px 0
        &__title
            max-width: 370px
            b
                font-size: 20px
            p
                display: none
        &__phones
            flex-direction: column
            align-items: center
            order: 1
        &__phone
            margin-bottom: 15px
        &__button
            order: 0
            margin: 35px auto 35px
        &__contacts
            flex-direction: column
        &__address
            order: 2
            max-width: 360px
            margin: 0 auto
            text-align: center
            b
                display: block
        &__top
            align-items: center
        .navbar-brand
            img
                width: 60px
                height: 60px
        .navbar-toggler
            margin-left: auto
        .navbar-nav
            margin-bottom: 20px
            .nav-item
                justify-content: center !important
                padding: 0
                border: none
    .jumbotron, .pain
        &__decor
            display: none
    .jumbotron
        margin-top: 80px
        min-height: 0
        background-color: $white
        h1
            background: linear-gradient(to right, rgba(32,131,187,1), rgba(86,212,146,1))
            padding: 30px
            color: $white
            margin: -100px auto 0
            border-radius: 5px
            font-size: 18px
            box-shadow: 0 10px 20px rgba(0,0,0,0.11)
            br
                display: none
        &__image
            height: auto
            margin: -83px auto 0px
            img
                margin: 0
                height: auto
        &__title
            background: none
            color: $black
            margin: 34px 0 0
            padding: 0
            width: 100%
            height: auto
            min-height: 0
            text-align: left
        &__block
            margin: 30px 0
            padding: 0
            p
                margin: 0
                font-size: 15px
                b
                    display: block
                br
                    display: none
        .button
            background: linear-gradient(90deg, rgba(255,84,42,1) 0%, rgba(255,199,63,1) 100%)
            &:before
                background: linear-gradient(90deg, rgba(255,199,63,1) 0%, rgba(255,84,42,1) 100%)
            p
                font-size: 30px
        &__note
            p
                b
                    font-size: 14px
    .block
        &__heading
            font-size: 28px
        &__desc
            font-size: 18px
            padding: 20px 40px
            margin: 20px -40px 20px
    .pain
        padding-top: 50px
        margin-top: 0
        background-color: $white
        &__decor
            &_left, &_right
                display: none
        &__spine
            margin: 0px auto 30px
            width: 100%
            height: auto
    .history
        padding: 100px 0 0
        .block
            &__desc
                margin: 20px 0 0
                box-shadow: none
                font-size: 22px
        &__decor
            top: 270px
        &__image
            width: 100%
            height: auto
            margin: 0 auto 50px
        &__text
            br
                display: none
        &__note
            max-width: 100vw
            width: 100%
            margin: 0
    .history-continue
        &-1
            padding-top: 84px
            margin-top: 0
            &__decor
                &_left
                    top: 30px
                    left: calc(50vw + 900px)
                    background-size: contain
                    width: 183px
                    height: 723px
                &_center, &_right
                    display: none
            img
                width: 100%
                height: auto
                border-radius: 0
                margin-bottom: 0
        &-2
            padding-top: 0
            .block
                &__desc
                    max-width: 100vw
                    padding: 20px 40px
                    margin: 20px -40px
                    font-size: 18px
            &__title
                margin-top: 30px
                font-size: 18px
                &_color
                    font-size: 22px
            &__heading
                font-size: 18px
                span
                    font-size: 28px
            &__note
                max-width: 100vw
                padding: 20px 40px
                margin: 0 -40px 25px
            &__img
                width: 100%
                height: auto
            &__block
                margin: 0 auto 70px
                width: 100%
            &__cite
                max-width: 100vw
                margin: 50px 0 0
                &:after
                    top: auto
                    bottom: -27px
                    right: 0
            &__doctor
                margin: 0 auto 20px
                box-shadow: none
    .doctors
        &__decor
            &_left
                top: 1300px
                left: -300px
                width: 989px * 0.6
                height: 1730px * 0.6
                background-size: contain
                transform: rotate(30deg)
            &_right
                top: 940px
                right: 880px
                background-size: contain
                width: 1161px * 0.5
                height: 1869px * 0.5
        &__heading
            font-size: 18px
        &__slider
            height: 720px
        .swiper-button
            &-next
                right: 0
            &-prev
                left: 0
            &-next, &-prev
                background-color: $white
                border-radius: 50%
    .arrival
        padding: 200px 0 0
        .block
            &__desc
                font-size: 22px
                max-width: 100vw
                box-shadow: none
                padding: 16px 40px
                margin: 20px -40px 20px
        &__decor
            top: 368px
        &__note
            max-width: 100vw
            margin: 0 -40px 33px
        &__image
            margin: 0 auto
            border-radius: 0
            width: 100%
            height: auto
            box-shadow: none
            img
                width: 100%
                height: auto
                border-radius: 0
                mask-image: none
    .healing
        padding-top: 30px
        margin-top: 0
        &__decor
            display: none
            &_right
                display: none
            &-mobile
                &_left
                    display: block
                    width: 224px
                    height: 112px
                &_right
                    display: block
                    width: 365px
                    height: 170px
                    filter: blur(7.3px)
        &__decors
            display: flex
            justify-content: space-between
            height: 170px
            align-items: center
        .block
            &__heading
                margin-left: 0
            &__desc
                padding: 20px 30px
                margin: 20px -30px 20px
        &__text
            padding-left: 0
        &__note
            margin: 50px auto 0
            max-width: 100%
            &:after
                top: auto
                bottom: -27px
                right: 0
        &__image
            margin-left: -50px
            .healing__circle
                bottom: 0
            img
                filter: none
                position: relative
                z-index: 1
    .healing-more
        &__content
            .healing
                &__heading
                    margin: 0 auto 30px
                    font-size: 14px
                &__note
                    padding: 20px 40px
                    margin: 0 -40px
                    max-width: 100vw
                &__images
                    margin: 0 auto
                    border-radius: 0
                    a
                        img
                            border-radius: 0 !important
                &__text
                    &_pre-note
                        margin-top: 0
    .shock
        padding-bottom: 0
        &__image
            width: 100%
            height: 600px
            border-radius: 0
    .procedures
        padding-bottom: 0
        .block
            &__heading
                font-size: 28px
            &__desc
                max-width: 100vw
                font-size: 14px
        &__slider
            height: 300px
            .swiper-slide
                a
                    height: 100%
        .swiper-button
            &-prev, &-next
                top: 50%
        &__logo
            margin: 0 auto 30px
    .professional
        .block
            &__heading
                br
                    display: none
        &__text
            max-width: 100%
            br
                display: none
        &__img
            width: calc(100% + 60px)
            height: auto
            margin: 0 -30px 50px
            filter: none
        &__numbers
            width: 100%
            height: auto
            margin: 0 auto 30px
    .meals
        padding-bottom: 50px
        .block
            &__heading
                font-size: 14px
                line-height: 1.5
                br
                    display: none
            &__desc
                br
                    display: none
        &__text
            br
                display: none
        &__img
            width: 100%
            height: auto
            border-radius: 0
        &__icon
            width: 82px
            height: auto
            margin: 0 auto 0 0
    .menu
        &__decor
            &_left, &_right
                display: none
        &__heading
            font-size: 14px
            line-height: 1.5
            br
                display: none
        &__slider
            height: 300px
            .swiper-slide
                a
                    height: 100%
        .swiper-button
            &-prev, &-next
                top: 50%
    .personal
        &__heading
            font-size: 28px
        &__image
            width: 100%
            height: auto
            min-height: 0
            border-radius: 0
    .guest-callback
        &__text
            br
                display: none
        form
            max-width: 100vw
            margin: 20px auto 0
    .twoweeks
        &__text
            margin-right: 0
            br
                display: none
        &__image
            width: 100%
            height: auto
            margin: 0 auto 0
    .guest-comfort
        &__decor
            &_left, &_right
                display: none
        .block
            &__heading
                font-size: 18px
            &__desc
                margin: 40px -40px 40px
                max-width: 100vw
        &__slider
            height: 300px
            margin: 30px auto
            .swiper-slide
                a
                    height: 100%
        .swiper-pagination
            display: none
        .swiper-button
            &-prev, &-next
                top: 50%
                background-color: $white
                border-radius: 50%
                img
                    filter: invert(0.6)
                &:hover
                    background: none
                    img
                        filter: none
    .price
        .block
            &__heading
                font-size: 18px
                margin-bottom: 20px
                br
                    display: none
            &__desc
                margin: 0 -40px 20px
        &__text
            max-width: 100vw
        &__image
            width: 100%
            height: auto
            margin: 30px auto 0
    .school
        &__decor
            &_left
                left: auto
                right: 50%
                top: 260px
                transform: translateX(280px)
        .block
            &__desc
                max-width: 100vw
                margin: -45px -30px 40px
        &__text
            br
                display: none
            &_right
                max-width: 90%
        &__slider
            height: 300px
            margin: 30px auto -100px
            .swiper-slide
                a
                    height: 100%
        .swiper-pagination
            display: none
        .swiper-button
            &-prev, &-next
                top: 50%
                background-color: $white
                border-radius: 50%
                img
                    filter: invert(0.6)
                &:hover
                    background: none
                    img
                        filter: none
    .nuance
        .block
            &__heading
                font-size: 18px
            &__desc
                br
                    display: none
        &__text
            br
                display: none
        &__image
            width: 100%
            height: auto
            margin: 30px auto 0
            border-radius: 0
    .location
        .block
            &__desc
                margin: 0 -40px 0
                font-size: 14px
        &__block
            margin: 0 -40px
            border-radius: 0
        &__image
            width: 100%
            height: auto
            margin: 0 auto
    .hypertony
        padding: 0 0
        margin-top: 0
        .block
            &__desc
                margin: 0 -40px 20px
        &__decor
            &_left, &_center, &_right
                display: none
        &__text
            max-width: 100%
            br
                display: none
            &_note
                margin-top: 0
                b
                    font-size: 18px
        &__image
            border-radius: 0
            filter: none
            width: 100%
            height: auto
    .reduce-pressure
        padding-top: 180px
        &__decor
            &_center
                display: none
        .block
            &__heading
                font-size: 28px
                br
                    display: none
            &__desc
                max-width: 100vw
                flex: 0 0 100%
                margin: 20px 0
        &__heading
            max-width: 100vw
            margin: 0 -40px
            img
                position: absolute
                top: -110px
                left: 0
        &__slider
            height: 300px
            margin: 30px auto
            .swiper-slide
                a
                    height: 100%
        .swiper-pagination
            display: none
        .swiper-button
            &-prev, &-next
                top: 50%
                background-color: $white
                border-radius: 50%
                img
                    filter: invert(0.6)
                &:hover
                    background: none
                    img
                        filter: none
    .diabet
        .block
            &__heading
                margin: 0
            &__desc
                max-width: 100vw
                margin: 0 -40px 0
        &__decor
            &_left, &_center, &_right
                display: none
        &__text
            max-width: 100%
            br
                display: none
        &__image
            width: 100%
            height: auto
            border-radius: 0
            margin: 30px auto 0
            filter: none
        &__subheading
            flex-direction: column
            align-items: flex-start
            h3
                order: 1
                br
                    display: none
            img
                width: 92px
                height: 90px
                order: 0
                margin: 0 0 20px
                transform: scaleX(-1)
        &__slider
            height: 300px
            .swiper-slide
                height: 300px
                a
                    height: 100%
        hr
            display: none
    .brain
        .block
            &__heading
                max-width: 100%
                margin-left: 0
                font-size: 28px
        &__decor
            &_right
                width: 100%
                height: 760px
                right: 0
                top: auto
                background-size: contain
                bottom: 0
                transform: none
                mask-image: none
        &__block
            max-width: 430px
            margin: 0 auto 200px
            .brain__circle
                width: 360px
                height: 360px
            img
                width: 500px
                height: auto
                top: 85px
        &__sketch
            margin: 0 auto 35px
        &__content
            .brain__text
                max-width: 100%
                margin-left: 0
                br
                    display: none
        &__text
            max-width: 100%
            br
                display: none
        hr
            display: none
    .microclimate
        &__block
            box-shadow: none
            background: none
            max-width: 480px
    .entertainment
        padding-top: 0
        .block
            &__heading
                br
                    display: none
            &__desc
                margin: 0 -40px 20px
        &__clouds
            display: none
        &__block
            max-width: 100vw
            padding: 0 30px
            margin: 30px -30px 0
            background: none
            box-shadow: none
        &__bg
            width: 100%
            height: auto
            margin: 0 auto
    .children
        padding-top: 50px
        margin-top: 0
        .block
            &__heading
                margin: 20px auto 0
            &__desc
                margin: 0 -40px
        &__decor
            &_center, &_right
                display: none
        &__slider
            height: 480px
            margin: 30px auto
            .swiper-slide
                a
                    width: 280px
                    height: 410px
    .escort
        .block
            &__heading
                margin: 20px auto
        &__text
            max-width: 100%
        &__slider
            height: 400px
            .swiper-slide
                a
                    height: 100%
                .gallery
                    .top
                        height: 338px
                        a
                            height: 338px
                    .bottom
                        height: 72px
                        a
                            height: 72px
    .tale
        .block
            &__heading
                font-size: 28px
                text-align: center
                margin: 20px auto
    .footer
        &__form
            max-width: 100vw
            margin: 250px auto 0
        &__creator
            margin: 50px auto 0
        &__page
            .footer
                &__socials
                    margin: 30px auto
                &__nav
                    margin: 20px auto 0
                    max-height: 100%
                    li
                        margin-right: 0
                        margin-bottom: 15px !important
                        a
                            display: block
                            text-align: center
    .contacts
        margin-top: 80px
        padding: 45px 0 40px
        .block
            &__heading
                text-align: center
        .list
            li
                a
                    font-size: 14px
        &__text
            text-align: center
            margin-bottom: 19px
            b
                font-size: 14px
        &__link
            display: flex
            justify-content: center
            margin: 0 auto
    .licenses
        .block
            &__heading
                font-size: 40px
        &__link
            height: auto
            img
                height: auto
    .reviews
        margin-top: 80px
        padding: 50px 0 70px
        h1
            font-size: 40px
        &__block
            justify-content: center
            .avatar
                margin: 0 auto 20px
            .info
                flex: 0 0 100%
                .list
                    li
                        align-items: center
                        flex-direction: column
                        div
                            flex: 0 0 auto
                        p
                            margin-bottom: 10px
                        b
                            text-align: center
                        &:after
                            display: none
            .quote
                blockquote
                    flex-direction: column
                    align-items: flex-start
                    &:before
                        margin: 0 0 0 -20px
        &__block-small
            padding: 20px
            blockquote
                flex-direction: column
                align-items: flex-start
                &:before
                    margin: 0 0 0 -20px
    .video-reviews
        &__block
            .info
                flex-direction: column
                b
                    text-align: center
                    margin-bottom: 10px
    .apartments
        margin-top: 80px
        background-size: cover
        h1
            font-size: 36px
        &__list
            max-height: 100%
            flex-direction: row
            li
                width: auto
                flex: 0 0 49%
                height: 70px
    .apartment
        h3
            font-size: 21px
        &__heading
            text-align: center
            font-size: 23px
            margin-bottom: 20px
        &__text
            text-align: center
        .list-rows
            flex-wrap: wrap
            ul
                flex: 0 0 100% !important
        &__table
            flex-direction: row
            &-row
                flex-direction: column
                flex: 0 0 33.3333%
                height: 100%
                &:last-child
                    .apartment__table
                        &-block
                            border-right: none
                            border-radius: 0 15px 15px 0
            &-heading
                padding: 10px 0
                justify-content: center
                text-align: center
                font-size: 14px
                flex: 0 0 52px
            &-header
                flex: 0 0 101px
                border-bottom: none
                border-right: 1px solid #d2d2d2
                border-radius: 15px 0 0 15px
                margin: 0px !important
            &-block
                flex: 0 0 101px
                margin: 0px !important
                border-right: 1px solid #d2d2d2
                border-bottom: none
                p
                    font-size: 20px
    .services
        margin-top: 80px
        padding: 28px 0 90px
        h1
            font-size: 28px
        &__block
            flex-direction: column
            img
                width: 100%
                flex: 0 0 auto
                height: 150px
                border-radius: 15px 15px 0 0
                margin: 0 auto 20px
            div
                padding: 16px
                b
                    text-align: center
                    font-size: 20px
                p
                    text-align: center
    .spirit
        &__block
            .top
                height: 260px
                div
                    b
                        font-size: 36px
                    p
                        font-size: 16px
    .loyalty
        .block
            &__heading
                font-size: 28px
        &__table
            width: 960px
            thead
                tr
                    th
                        font-size: 18px
            tbody
                tr
                    td
                        font-size: 14px
    .partnership
        .button
            margin-bottom: 40px
    .spine-heal
        margin-top: 80px
        h1
            font-size: 28px
    .chinese-medicine
        padding-top: 0px
        background-position: center top 140px, center top
        .block
            &__heading
                font-size: 28px
        .list
            &-pre
                color: $black
        &__block
            flex-direction: column
            .left
                .list
                    max-height: 100%
                    li
                        flex: 0 0 auto
                        width: 100%
                        border: none
            .right
                flex: 0 0 auto
    .spine-note
        .block
            &__heading
                font-size: 28px
                margin: 40px auto 40px
@media (max-width: 575px)
    p
        font-size: 14px
    .header
        position: fixed
        z-index: 4
        top: 0
        height: auto
        width: 100%
        box-shadow: 0px 0px 20px rgba(0,0,0,0.2)
        &__navbar
            padding: 10px 15px
        &__title
            margin-left: 12px
            max-width: 212px
            b
                font-size: 16px
                line-height: 1.2
            p
                display: none
        &__phones
            flex-direction: column
            align-items: center
            order: 1
        &__phone
            margin-bottom: 15px
        &__button
            order: 0
            margin: 35px auto 35px
            width: 100%
        &__contacts
            flex-direction: column
        &__address
            order: 2
            max-width: 360px
            margin: 0 auto
            text-align: center
            font-size: 14px
            b
                display: block
        .navbar-toggler
            margin-left: auto
            padding: 0
        .navbar-brand
            img
                width: 32px
                height: 32px
        .navbar-collapse
            flex: 0 0 100vw
            &.show, &.collapsing
                width: 100vw
                padding: 0 15px 20px
                margin: 20px -15px -20px
                box-shadow: inset 0px 20px 20px -20px rgba(0,0,0,0.15)
        .navbar-nav
            margin-bottom: 20px
            width: auto
            min-height: 0
            .nav-item
                justify-content: center !important
                padding: 0
                border: none
    .jumbotron, .pain
        &__decor
            display: none
    .jumbotron
        margin-top: 58px
        min-height: 0
        background-color: $white
        h1
            background: linear-gradient(to right, rgba(32,131,187,1), rgba(86,212,146,1))
            padding: 10px 15px
            color: $white
            margin: -30px -15px 0
            font-size: 18px
            box-shadow: 0 10px 20px rgba(0,0,0,0.11)
            br
                display: none
        &__image
            height: auto
            margin: -83px auto 0px
            img
                margin: 0
                height: auto
                min-height: 214px
        &__title
            background: none
            color: $black
            margin: 34px 0 0
            padding: 0
            width: 180px
            height: auto
            min-height: 0
            text-align: left
        &__block
            margin: 30px 0
            padding: 0
            p
                margin: 0
                font-size: 15px
                b
                    display: block
                br
                    display: none
        .button
            background: linear-gradient(90deg, rgba(255,84,42,1) 0%, rgba(255,199,63,1) 100%)
            width: 100%
            margin: 0 auto 25px
            height: 52px
            box-shadow: 0px 5px 15px rgba(0,0,0,0.22)
            p
                font-size: 18px
                font-weight: 700
            &:before
                background: linear-gradient(90deg, rgba(255,199,63,1) 0%, rgba(255,84,42,1) 100%)
        &__note
            p
                b
                    display: block
                    font-size: 14px
                br
                    display: none
    .block
        &__heading
            font-size: 28px
        &__desc
            font-size: 18px
            padding: 20px 40px
            margin: 20px -40px 20px
    .pain
        padding-top: 50px
        margin-top: 0
        background-color: $white
        &__decor
            &_left, &_right
                display: none
        &__spine
            margin: 0px -15px 30px
            width: 100vw
            height: auto
        &__text
            b
                color: #000000
    .history
        padding: 100px 0 0
        .block
            &__desc
                margin: 20px -15px 0
                box-shadow: none
                font-size: 18px
        &__decor
            top: 265px
        &__image
            width: 100vw
            height: auto
            margin: 0 -15px 20px
            border-radius: 0
        &__text
            br
                display: none
        &__note
            max-width: 100vw
            width: 100vw
            margin: 0 -15px
            font-size: 18px
            font-weight: 700
    .history-continue
        &-1
            padding-top: 84px
            margin-top: 0
            &__decor
                &_left
                    top: 30px
                    left: auto
                    right: 30px
                    transform: none
                    background-size: contain
                    width: 183px
                    height: 723px
                &_center, &_right
                    display: none
            img
                width: 100vw
                height: auto
                border-radius: 0
                margin: 0 -15px 0
            .block
                &__desc
                    max-width: 100vw
                    padding: 8px 15px
                    margin: 20px auto
                    border-width: 3px
        &-2
            padding-top: 0
            .block
                &__desc
                    max-width: 100vw
                    padding: 20px 15px
                    margin: 20px -15px 0
                    font-size: 18px
            &__title
                margin-top: 30px
                font-size: 18px
                &_color
                    font-size: 22px
                    br
                        display: none
            &__heading
                font-size: 18px
                span
                    font-size: 28px
            &__note
                max-width: 100vw
                padding: 20px 15px
                margin: 0 -15px 25px
                font-size: 20px
                line-height: 1.4
            &__img
                width: 100vw
                height: auto
                margin: 0 -15px 0
                border-radius: 0
            &__block
                margin: 0 -15px 70px
                width: 100vw
            &__cite
                max-width: 100vw
                padding: 20px
                margin: 50px 0 0
                br
                    display: none
                &:after
                    top: auto
                    bottom: -27px
                    right: 0
            &__doctor
                max-width: 245px
                height: auto
                margin: 0 auto 20px
                box-shadow: none
            &__author
                font-size: 14px
                text-align: center
                b
                    font-size: 18px
                    margin-bottom: 5px
    .doctors
        &__decor
            &_left
                top: 50%
                left: -300px
                width: 989px * 0.5
                height: 1730px * 0.5
                background-size: contain
                transform: rotate(30deg)
            &_right
                top: 40%
                right: 880px
                background-size: contain
                width: 1161px * 0.45
                height: 1869px * 0.45
        &__heading
            font-size: 18px
        &__slider
            height: 600px
            &-slide
                img
                    width: 260px
                    height: 390px
                .content
                    b
                        font-size: 18px
                    p
                        font-size: 14px
        .swiper-button
            &-next
                right: 0
            &-prev
                left: 0
            &-next, &-prev
                background-color: $white
                border-radius: 50%
    .arrival
        padding: 200px 0 0
        .block
            &__desc
                font-size: 18px
                max-width: 100vw
                box-shadow: none
                padding: 16px 15px
                margin: 20px -15px 20px
        &__decor
            top: 364px
        &__note
            max-width: 100vw
            padding: 15px
            margin: 0 -15px 33px
            font-size: 14px
        &__image
            margin: 0 auto
            border-radius: 0
            width: 100%
            height: auto
            min-height: 238px
            box-shadow: none
            img
                width: 100vw
                height: auto
                border-radius: 0
                mask-image: none
                margin: 0 -15px 0
    .healing
        padding-top: 30px
        margin-top: 0
        &__decor
            display: none
            &_right
                display: none
            &-mobile
                &_left
                    display: block
                    width: 224px
                    height: 112px
                    margin-left: -70px
                &_right
                    display: block
                    width: 365px
                    height: 170px
                    filter: blur(4.3px)
        &__decors
            display: flex
            justify-content: space-between
            height: 170px
            align-items: center
        .block
            &__heading
                margin-left: 0
                br
                    display: none
            &__desc
                padding: 20px 15px
                margin: 20px -15px 20px
        &__text
            padding-left: 0
        &__note
            margin: 50px -15px 0
            max-width: 100vw
            padding: 15px
            &:after
                top: auto
                bottom: -27px
                right: 0
        &__image
            margin-left: -15px
            margin-top: 40px
            .healing__circle
                bottom: 0
                left: 22%
                width: 50vw
                height: 50vw
            img
                width: 120vw
                height: auto
                filter: none
                position: relative
                z-index: 1
    .healing-more
        &__content
            .healing
                &__heading
                    margin: 0 auto 30px
                    font-size: 14px
                &__note
                    padding: 20px 15px
                    margin: 0 -15px
                    max-width: 100vw
                &__images
                    margin: 0 -15px
                    border-radius: 0
                    a
                        img
                            border-radius: 0 !important
                        &:first-child
                            height: 240px
                        &:nth-child(2), &:nth-child(3)
                            height: 140px
                &__text
                    &_pre-note
                        margin-top: 0
    .shock
        padding-bottom: 0
        &__text
            br
                display: none
        &__image
            width: 100vw
            margin: 0 -15px 0
            height: auto
            border-radius: 0
    .procedures
        padding-bottom: 0
        .block
            &__heading
                font-size: 28px
            &__desc
                max-width: 100vw
                font-size: 14px
        &__text
            margin-right: 0
        &__slider
            height: 300px
            .swiper-slide
                a
                    height: 100%
        .swiper-button
            &-prev, &-next
                top: 50%
        &__logo
            width: 160px
            height: 137px
            margin: 0 auto 30px
    .professional
        .block
            &__heading
                br
                    display: none
        &__text
            max-width: 100%
            br
                display: none
        &__img
            width: calc(100% + 60px)
            height: auto
            margin: 0 -30px 50px
            filter: none
        &__numbers
            width: 75vw
            height: auto
            margin: 0 auto 30px
    .meals
        padding-bottom: 50px
        .block
            &__heading
                font-size: 14px
                line-height: 1.5
                br
                    display: none
            &__desc
                br
                    display: none
        &__text
            br
                display: none
        &__img
            width: 100vw
            height: auto
            margin: 0 -15px 0
            border-radius: 0
        &__icon
            width: 82px
            height: auto
            margin: 0 auto 0 0
    .menu
        &__decor
            &_left, &_right
                display: none
        &__heading
            font-size: 14px
            line-height: 1.5
            br
                display: none
        &__slider
            height: 300px
            .swiper-slide
                a
                    height: 100%
        .swiper-button
            &-prev, &-next
                top: 50%
    .personal
        &__heading
            font-size: 28px
        &__image
            width: 100vw
            height: auto
            min-height: 0
            margin: 0 -15px 0
            border-radius: 0
    .guest-callback
        padding: 40px 0 0
        margin-top: 0
        background-color: #fff2f0
        .block
            &__heading
                font-size: 28px
                br
                    display: none
        &__text
            br
                display: none
        form
            max-width: 100vw
            margin: 20px auto 0
            padding: 15px
            b
                font-size: 14px
                text-align: left
            .input
                font-size: 18px
                text-align: left
                +placeholder
                    font-size: 18px
            .button
                p
                    font-size: 18px
    .twoweeks
        background-color: #fff2f0
        .block
            &__heading
                br
                    display: none
        &__decor
            display: none
        &__text
            margin-right: 0
            br
                display: none
        &__image
            width: 100vw
            height: auto
            margin: 0 -15px 0
            filter: none
    .guest-comfort
        &__decor
            &_left, &_right
                display: none
        .block
            &__heading
                font-size: 18px
            &__desc
                padding: 15px
                margin: 40px -15px 40px
                max-width: 100vw
        &__slider
            height: 300px
            margin: 30px auto
            .swiper-slide
                a
                    height: 100%
        .swiper-pagination
            display: none
        .swiper-button
            &-prev, &-next
                top: 50%
                background-color: $white
                border-radius: 50%
                img
                    filter: invert(0.6)
                &:hover
                    background: none
                    img
                        filter: none
    .price
        &__decor
            display: none
        .block
            &__heading
                font-size: 18px
                margin-bottom: 20px
                br
                    display: none
            &__desc
                margin: 0 -40px 20px
        &__text
            max-width: 100vw
        &__image
            width: 100%
            height: auto
            margin: 30px auto 0
    .school
        background: linear-gradient(180deg,#3b4e4c 20%,#0599e3 200%)
        &__decor
            background: linear-gradient(180deg,#3b4e4c 20%,#0599e3 200%)
            &_left
                left: auto
                right: 20px
                top: 47%
                transform: none
        .block
            &__desc
                max-width: 100vw
                padding: 15px
                margin: -45px -15px 40px
        &__text
            br
                display: none
            &_right
                max-width: 75%
        &__slider
            height: 300px
            margin: 30px auto -100px
            .swiper-slide
                a
                    height: 100%
        .swiper-pagination
            display: none
        .swiper-button
            &-prev, &-next
                top: 50%
                background-color: $white
                border-radius: 50%
                img
                    filter: invert(0.6)
                &:hover
                    background: none
                    img
                        filter: none
    .nuance
        .block
            &__heading
                font-size: 18px
                margin-right: 0
                br
                    display: none
            &__desc
                br
                    display: none
        &__text
            br
                display: none
        &__image
            width: 100vw
            height: auto
            margin: 30px -15px 0
            border-radius: 0
    .location
        .block
            &__desc
                margin: 0 -40px 0
                font-size: 14px
        &__block
            margin: 0 -40px
            border-radius: 0
        &__image
            width: 100vw
            height: auto
            margin: 0 -15px 0
    .hypertony
        padding: 0 0
        margin-top: 0
        .block
            &__desc
                margin: 0 -40px 20px
        &__decor
            display: none
            &_left, &_center, &_right
                display: none
        &__text
            max-width: 100%
            br
                display: none
            &_note
                margin-top: 0
                b
                    font-size: 18px
        &__image
            border-radius: 0
            filter: none
            width: 100vw
            height: auto
            margin: 30px -15px 0
    .reduce-pressure
        padding-top: 180px
        &__decor
            display: none
            &_center
                display: none
        .block
            &__heading
                font-size: 28px
                br
                    display: none
            &__desc
                max-width: 100vw
                flex: 0 0 100%
                padding: 15px
                margin: 20px 0
        &__heading
            max-width: 100vw
            margin: 0 -15px
            img
                position: absolute
                width: 65px
                height: 49px
                top: -70px
                left: 15px
        &__slider
            height: 300px
            margin: 30px auto
            .swiper-slide
                a
                    height: 100%
        .swiper-pagination
            display: none
        .swiper-button
            &-prev, &-next
                top: 50%
                background-color: $white
                border-radius: 50%
                img
                    filter: invert(0.6)
                &:hover
                    background: none
                    img
                        filter: none
    .diabet
        .block
            &__heading
                margin: 0
            &__desc
                max-width: 100vw
                padding: 15px
                margin: 0 -15px 0
        &__decor
            display: none
            &_left, &_center, &_right
                display: none
        &__text
            max-width: 100%
            br
                display: none
        &__image
            width: 100vw
            height: auto
            border-radius: 0
            margin: 30px -15px 0
            filter: none
        &__subheading
            flex-direction: column
            align-items: flex-start
            h3
                order: 1
                br
                    display: none
            img
                width: 92px
                height: 90px
                order: 0
                margin: 0 0 20px
                transform: scaleX(-1)
        &__slider
            height: 300px
            .swiper-slide
                height: 300px
                a
                    height: 100%
        hr
            display: none
    .stress
        background-color: $white
    .brain
        .block
            &__heading
                max-width: 100%
                margin-left: 0
                font-size: 28px
                br
                    display: none
            &__desc
                padding: 15px
                margin: 20px -15px 0
                br
                    display: none
        &__decor
            &_right
                display: none
            &_bottom
                display: block
                width: 100vw
                height: auto
                margin: -200px -15px 0
        &__block
            max-width: 290px
            margin: 0 auto 100px
            .brain__circle
                width: 236px
                height: 236px
            img
                width: 300px
                height: auto
                top: 62px
        &__sketch
            margin: 0 auto 35px
        &__content
            .brain__text
                max-width: 100%
                margin-left: 0
                br
                    display: none
        &__text
            max-width: 100%
            br
                display: none
        hr
            display: none
    .microclimate
        padding-bottom: 0
        &__block
            box-shadow: none
            background: none
            max-width: 100vw
        &__text
            max-width: 90%
    .entertainment
        padding-top: 0
        .block
            &__heading
                br
                    display: none
            &__desc
                margin: 0 -40px 20px
        &__clouds
            display: none
        &__block
            max-width: 100vw
            padding: 0
            margin: 30px 0 0
            background: none
            box-shadow: none
        &__text
            br
                display: none
        &__bg
            width: 100vw
            height: auto
            margin: 0 -15px
    .children
        padding-top: 50px
        margin-top: 0
        .block
            &__heading
                margin: 20px auto 0
            &__desc
                margin: 0 -40px
        &__decor
            &_center, &_right
                display: none
        &__slider
            height: 400px
            max-width: 290px
            margin: 30px auto
            .swiper-slide
                a
                    width: 240px
                    height: 360px
        .swiper-button-prev
            left: 0px
        .swiper-button-next
            right: 0px
    .escort
        .block
            &__heading
                margin: 20px auto
        &__text
            max-width: 100%
        &__slider
            height: 300px
            .swiper-slide
                a
                    height: 100%
                .gallery
                    .top
                        height: 238px
                        a
                            height: 238px
                    .bottom
                        height: 72px
                        a
                            height: 72px
        .swiper-button-prev
            top: 50%
        .swiper-button-next
            top: 50%
    .tale
        .block
            &__heading
                font-size: 28px
                text-align: center
                margin: 20px auto
                &_small
                    font-size: 18px
        &__text
            br
                display: none
    .footer
        min-height: 0
        background-size: contain
        &__form
            max-width: 100vw
            padding: 30px 20px
            margin: 130px -15px 0
            border-radius: 20px 20px 0 0
            &-heading
                font-size: 14px
                margin-bottom: 20px
                b
                    font-size: 17px
            .note
                font-size: 14px
            .button
                p
                    font-size: 16px
            img
                width: 154px
                height: 132px
                margin: -80px 0 0 0
        &__creator
            max-width: 100vw
            padding: 15px
            background-color: #383838
            margin: 0px -15px
            flex-direction: row
            align-items: center
            img
                width: 120px
            p
                font-size: 14px
                margin: 0 0 0 10px
                br
                    display: none
        &__page
            .footer
                &__logo
                    justify-content: center
                    margin: 0 auto
                    img
                        width: 66px
                        height: 66px
                        flex: 0 0 66px
                        margin-right: 20px
                    div
                        font-size: 14px
                        a
                            font-size: 14px
                            letter-spacing: -1px
                &__socials
                    margin: 30px auto
                &__nav
                    margin: 20px auto 0
                    max-height: 100%
                    li
                        margin-right: 0
                        margin-bottom: 15px !important
                        a
                            display: block
                            text-align: center
    .contacts
        margin-top: 58px
        padding: 45px 0 40px
        h1
            font-size: 36px
        .block
            &__heading
                font-size: 28px
                text-align: center
        .list
            li
                align-items: flex-start
                margin-bottom: 14px
                b
                    font-size: 20px
                    flex: 0 0 83px
                a
                    font-size: 14px
        &__subheading
            margin-bottom: 40px
        &__text
            text-align: center
            margin-bottom: 19px
            b
                font-size: 14px
        &__link
            display: flex
            justify-content: center
            margin: 0 auto
        &__map
            height: calc(100vw - 30px)
    .licenses
        .block
            &__heading
                font-size: 40px
        &__link
            height: auto
            img
                height: auto
    .reviews
        margin-top: 58px
        padding: 50px 0 70px
        h1
            font-size: 36px
        &__block
            justify-content: center
            .avatar
                margin: 0 auto 20px
            .info
                flex: 0 0 100%
                .list
                    li
                        align-items: center
                        flex-direction: column
                        div
                            flex: 0 0 auto
                        p
                            margin-bottom: 10px
                        b
                            text-align: center
                        &:after
                            display: none
            .quote
                blockquote
                    flex-direction: column
                    align-items: flex-start
                    &:before
                        margin: 0 0 0 -20px
        &__block-small
            padding: 20px
            blockquote
                flex-direction: column
                align-items: flex-start
                &:before
                    margin: 0 0 0 -20px
    .video-reviews
        .block
            &__heading
                font-size: 36px
        &__block
            .info
                flex-direction: column
                b
                    text-align: center
                    margin-bottom: 10px
    .apartments
        margin-top: 58px
        padding-top: 60px
        background-size: cover
        h1
            font-size: 36px
        &__list
            margin: 36px auto 60px
            max-height: 100%
            flex-direction: row
            li
                width: auto
                padding: 10px
                flex: 0 0 49%
                height: 70px
                img
                    width: 28px
                    height: 28px
                    flex: 0 0 28px
                    margin-right: 10px
                p
                    letter-spacing: -1px
    .apartment
        h2
            margin-bottom: 30px
        h3
            font-size: 21px
        &__heading
            text-align: center
            font-size: 23px
            margin-bottom: 20px
        &__text
            text-align: center
        .list-rows
            flex-wrap: wrap
            ul
                margin-left: 10px
                flex: 0 0 100% !important
        &__slider
            height: 45vw
            padding: 0px
            overflow-x: visible
            margin-bottom: 30px
        &__table
            flex-direction: row
            &-row
                flex-direction: column
                flex: 0 0 33.3333%
                height: 100%
                &:last-child
                    .apartment__table
                        &-block
                            border-right: none
                            border-radius: 0 15px 15px 0
            &-heading
                padding: 10px 0
                justify-content: center
                text-align: center
                font-size: 13px
                flex: 0 0 65px
            &-header
                flex: 0 0 101px
                border-bottom: none
                border-right: 1px solid #d2d2d2
                border-radius: 15px 0 0 15px
                margin: 0 0 5px !important
                p
                    font-size: 12px
            &-block
                flex: 0 0 101px
                margin: 0 0 5px !important
                border-right: 1px solid #d2d2d2
                border-bottom: none
                p
                    font-size: 16px
    .services
        margin-top: 58px
        padding: 28px 0 90px
        h1
            font-size: 28px
        &__block
            flex-direction: column
            img
                width: 100%
                flex: 0 0 auto
                height: 150px
                border-radius: 15px 15px 0 0
                margin: 0 auto 20px
            div
                padding: 16px
                b
                    text-align: center
                    font-size: 20px
                p
                    text-align: center
    .tours
        &__block
            margin: 0 auto 15px
    .spirit
        &__block
            min-height: 0
            .top
                height: 148px
                img
                    max-height: 148px
                div
                    b
                        font-size: 32px
                    p
                        font-size: 16px
            .bottom
                ul
                    li
                        font-size: 14px
    .loyalty
        .block
            &__heading
                font-size: 28px
        &__table
            width: 960px
            thead
                tr
                    th
                        font-size: 18px
            tbody
                tr
                    td
                        font-size: 14px
    .partnership
        .button
            margin-bottom: 40px
        &__heading
            img
                margin-right: 20px
            b
                font-size: 24px
        &__block
            .list
                li
                    flex: 0 0 100%
    .spine-heal
        margin-top: 58px
        h1
            font-size: 36px
        &__container
            height: auto
            margin: 0 auto 35px
    .chinese-medicine
        padding-top: 0px
        background-position: center top 140px, center top
        .block
            &__heading
                font-size: 28px
        .list
            &-pre
                color: $black
        &__block
            flex-direction: column
            .left
                .list
                    max-height: 100%
                    li
                        flex: 0 0 auto
                        width: 100%
                        border: none
                        padding: 23px 15px
            .right
                padding: 0px
                flex: 0 0 auto
    .spine-note
        .block
            &__heading
                font-size: 22px
                margin: 40px auto 40px